<%= form_for [@descripcioncorte, @cuadroproduccion], :html => { :class => 'form-horizontal' } do |f| %>
<% if @cuadroproduccion.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@cuadroproduccion.errors.count, "error") %> prohibited this cuadroproduccion from being saved:</h2>

  <ul>
    <% @cuadroproduccion.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="col-md-12">

  <div class="col-md-4">

    <div class="field">
     <h5><b>FECHA DE TRAZO</b></h5>
     <%= f.text_field :fechatrazo, class:'datepicker form-control' %>
   </div>

 </div>
 <div class="col-md-4">
  <div class="field">
   <h5><b>FECHA DEL CORTE</b></h5>
  <%= f.text_field :fechacorte, class:'datepicker form-control' %>
  </div>
</div>

<div class="col-md-4">
 <div class="field">
 <h5><b>FECHA ENTREGA A BODEGA</b></h5>
 <%= f.text_field :fechaentradabodega, class:'datepicker form-control' %>
</div>
</div>
</div>


<div class="col-md-12">

  <div class="col-md-4">

    <div class="field">
      <h5><b>MODULO</b></h5>
     <%= f.collection_select :modulo_id, Modulo.all, :id, :modulonombre,{prompt: "Seleccione Modulo"},{ class: "form-control"} %>
    </div>
  </div>



  <div class="col-md-4">

    <div class="field">
     <h5><b>FECHA ENTREGA DE MODULO</b></h5>
    <%= f.text_field :fechaentregamodulo, class:'datepicker form-control' %>
   </div>


 </div>

 <div class="col-md-4">
  <div class="actions">
      <%= f.submit "Guardar",class:'btn btn-succes questo tex1' %>
    </div>
</div>
</div>





<% end %>




