
<body class="fondo_cuadro">
  <h1 class="center">CUADRO DE PRODUCCIÓN</h1><br>
<h4 class="derecho"><span class="badge option animated wobble"> <%= @cuadroproduccions.count %> </span></h4 >

<% c= 0 %>
<br>
<div class="table-responsive tbla">

  <table class="table table-condensed table-hover tbla">
    <thead>
      <tr class="active tablasom">
        <th>Numero Orden</th>
        <th>Referencia</th>
        <th>Descripcion</th>
        
        <th>Tela</th>
        
        
        <th>Color</th>
        
        <th>Modulo</th>
        
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @cuadroproduccions.each do |cuadroproduccion| %>
      <tr>
        <td>000<%= cuadroproduccion.descripcioncorte.ordenproduccion.id%></td>
        <td><%= cuadroproduccion.descripcioncorte.ordenproduccion.referencia%></td>
        <td><%= cuadroproduccion.descripcioncorte.ordenproduccion.descripcion%></td>
        <td><%= cuadroproduccion.descripcioncorte.ordenproduccion.tela.telanombre%></td>
        <td><%= cuadroproduccion.descripcioncorte.color.colornombre%></td>
        
        <td><%= cuadroproduccion.modulo.modulonombre rescue nil %></td>
        
        <% c+=1
        if c == 1
          
        %>
        <td><%= link_to "<i class='fa fa-user fa-3x'></i>".html_safe, cuadroproduccion_instructores_path(cuadroproduccion) %></td>
        <%else%>
        <td></td>
        <%end%>
        
        <td><%= link_to "<i class='fa fa-eye fa-3x encima'></i>".html_safe, descripcioncorte_cuadroproduccion_path(@descripcioncorte, cuadroproduccion) %></td>
        <td><%= link_to "<i class='fa fa-pencil fa-3x encima'>".html_safe, edit_descripcioncorte_cuadroproduccion_path(@descripcioncorte,cuadroproduccion) %></td>
        <td><%= link_to "<i class='fa fa-eraser fa-3x encima'>".html_safe, descripcioncorte_cuadroproduccion_path(@descripcioncorte,cuadroproduccion), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to "<i class='fa fa-plus-circle fa-4x'></i>".html_safe, new_descripcioncorte_cuadroproduccion_path(@descripcioncorte) %>
<%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe, ordenproduccion_descripcioncortes_path(@descripcioncorte.ordenproduccion_id) %>

</body>