
<body class="fondo_cuadro tuto">
  <h4 class="derecho"><span class="badge option animated wobble"> <%= @cuadroproduccions.count %> </span></h4 >
  <br>
  <h1 class="center1">CUADRO DE PRODUCCIÓN</h1><br>


<% c= 0 %>
<br>
<div class="table-responsive tbla">

  <table class="table table-condensed table-hover tbla">
    <thead>
      <tr class="active tablasom">
        <th><h3><b>Numero Orden</b></h3></th>
        <th><h3><b>Referencia</b></h3></th>
        
        
        <th><h3><b>Tela</b></h3></th>
        
        
        <th><h3><b>Color</b></h3></th>
        
        <th><h3><b>Modulo</b></h3></th>
        
        <th colspan="4"></th>
      </tr>
    </thead>

    <tbody>
      <% @cuadroproduccions.each do |cuadroproduccion| %>
      <tr>
        <td class="minus"><h3><b>000<%= cuadroproduccion.ordenproduccion.id%></b></h3></td>
        <td class="minus"><h3><%= cuadroproduccion.ordenproduccion.referencia%></h3></td>
        
        <td class="minus"><h3><%= cuadroproduccion.ordenproduccion.tela.telanombre rescue nil%></h3></td>
        <td class="minus"><h3><%= cuadroproduccion.descripcioncorte.color.colornombre rescue nil%></h3></td>
        
        <td class="minus"><h3><%= cuadroproduccion.modulo.modulonombre rescue nil %></h3></td>
        
        <td><%= link_to "<i class='fa fa-eye fa-4x encima'></i>".html_safe, ordenproduccion_cuadroproduccion_path(@ordenproduccion, cuadroproduccion) %></td>
        <td><%= link_to "<i class='fa fa-pencil fa-4x encima'>".html_safe, edit_ordenproduccion_cuadroproduccion_path(@ordenproduccion,cuadroproduccion) %></td>
        <td><%= link_to "<i class='fa fa-eraser fa-4x encima'>".html_safe, ordenproduccion_cuadroproduccion_path(@ordenproduccion,cuadroproduccion), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<%= link_to "<i class='fa fa-plus-circle fa-4x'></i>".html_safe, new_ordenproduccion_cuadroproduccion_path(@ordenproduccion) %>
<%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe, ordenproduccions_path(@ordenproduccion) %>

</body>