<h1 class="center">Cuadro de Produccion</h1>


<br>
<div class="table-responsive ">

<table class="table table-condensed tablero">
  <thead>
    <tr>
      <th>Ordennumero</th>
      <th>Referencia</th>
      <th>Descripcion</th>
      <th>Corte</th>
      <th>Tela</th>
      <th>LargoTrazo</th>
      <th>VecesTrazo</th>
      <th>Promedio</th>
      <th>Responsable</th>
      <th>Color</th>
      <th>Fechatrazo</th>
      <th>Anchotrazo</th>
      <th>Fechacorte</th>
      <th>Fechaentradabodega</th>
      <th>Modulo</th>
      <th>Fechaentregamodulo</th>
     <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cuadroproduccions.each do |cuadroproduccion| %>
      <tr>
        <td>000<%= cuadroproduccion.descripcioncorte.ordenproduccion.id%></td>
        <td><%= cuadroproduccion.descripcioncorte.ordenproduccion.referencia%></td>
        <td><%= cuadroproduccion.descripcioncorte.ordenproduccion.descripcion%></td>
        <td><%= cuadroproduccion.descripcioncorte.ordenproduccion.corte.cortenombre%></td>
        <td><%= cuadroproduccion.descripcioncorte.ordenproduccion.tela.telanombre%></td>
        <td><%= cuadroproduccion.descripcioncorte.ordenproduccion.largotrazo%></td>
        <td><%= cuadroproduccion.descripcioncorte.ordenproduccion.vecestrazo%></td>
        <td><%= cuadroproduccion.descripcioncorte.ordenproduccion.promedio%></td>
        <td><%= cuadroproduccion.descripcioncorte.ordenproduccion.responsablecorte%></td>
        <td><%= cuadroproduccion.descripcioncorte.color.colornombre%></td>
        <td><%= cuadroproduccion.fechatrazo %></td>
        <td><%= cuadroproduccion.anchotrazo %></td>
        <td><%= cuadroproduccion.fechacorte %></td>
        <td><%= cuadroproduccion.fechaentradabodega %></td>
        <td><%= cuadroproduccion.modulo.modulonombre rescue nil %></td>
        <td><%= cuadroproduccion.fechaentregamodulo %></td>
        <td><%= link_to "instructores", cuadroproduccion_instructores_path(cuadroproduccion) %></td>
        <td><%= link_to "<i class='fa fa-eye fa-2x encima'></i>".html_safe, descripcioncorte_cuadroproduccion_path(@descripcioncorte, cuadroproduccion) %></td>
        <td><%= link_to "<i class='fa fa-pencil fa-2x encima'>".html_safe, edit_descripcioncorte_cuadroproduccion_path(@descripcioncorte,cuadroproduccion) %></td>
        <td><%= link_to "<i class='fa fa-eraser fa-2x encima'>".html_safe, descripcioncorte_cuadroproduccion_path(@descripcioncorte,cuadroproduccion), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to "<i class='fa fa-plus-circle fa-4x'></i>".html_safe, new_descripcioncorte_cuadroproduccion_path(@descripcioncorte) %>
<%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe, ordenproduccion_descripcioncortes_path(@descripcioncorte) %>

