<body class="homepageesh">
    <div class="col-md-12">
<div class="col-md-2"></div>

<div class="col-md-8">





<div >
  <div class="panel panel-succes">
    <div class="panel-heading center">
      <h3 class="panel-title">
        <h2 class="center">Cuadro de Producción</h2></h3>
        <h4><strong>Numero Orden: </strong>
        000<%= @cuadroproduccion.descripcioncorte.ordenproduccion.id %></h4>
      </div>
      <div class="panel-body">
        <div class="the-price">
          <div class="center-block">
                    
                  <%= image_tag("sena.png")%>
                  </div>
          
        </div>
        <table class="table">
          <tr class="active">
            <td>
              <div class="col-md-6">
               <h5 class="izquierda"> <strong>Color: </strong>
                <%= @cuadroproduccion.descripcioncorte.color.colornombre %> </h5>
              </div>



            </div>

            <div class="col-md-6">
             
<h5 class="derecha">
              <strong>Referencia: </strong>
              <%= @cuadroproduccion.descripcioncorte.ordenproduccion.referencia %> </h5>
            </div>
          </td>
        </tr>
        <tr >
          <td>
            <div class="col-md-6">
             <h5 class="izquierda"> <strong>Corte: </strong>
              <%= @cuadroproduccion.descripcioncorte.ordenproduccion.corte.cortenombre %></h5>
            </div>

            <div class="col-md-6">
              <h5 class="derecha"><strong>Tela: </strong>
              <%= @cuadroproduccion.descripcioncorte.ordenproduccion.tela.telanombre %></h5>
            </div>
          </td>
        </tr>
        <tr>
         
        </tr>
        <tr class="active">
          <td>
            <div class="col-md-6">
              <h5 class="izquierda"><strong>Largo del Trazo: </strong>
              <%= @cuadroproduccion.descripcioncorte.ordenproduccion.largotrazo %></h5>
            </div>
            <div class="col-md-6">
           <h5 class="derecha">  <strong>Veces en el Trazo: </strong>
             <%= @cuadroproduccion.descripcioncorte.ordenproduccion.vecestrazo %></h5>
           </div>


         </td>
       </tr>

       <tr>
        <td>
          <div class="col-md-6">
            <h5 class="izquierda"><strong>Promedio: </strong>
            <%= @cuadroproduccion.descripcioncorte.ordenproduccion.promedio %></h5>
          </div>
          <div class="col-md-6">

           <h5 class="derecha"> <strong>Responsable: </strong>
            <%= @cuadroproduccion.descripcioncorte.ordenproduccion.responsablecorte %>
</h5>
          </div>


        </td>
      </tr>

      



      <tr class="active">
        <td>
          <div class="col-md-6">
            <h5 class="izquierda"><strong>Fecha del Trazo: </strong>
            <%= @cuadroproduccion.fechatrazo %></h5>
          </div>
          <div class="col-md-6">
            <h5 class="derecha"><strong>Ancho del Trazo: </strong>
            <%= @cuadroproduccion.anchotrazo %></h5>
          </div>

        </td>
      </tr>
      <tr>
        <td>

         <div class="col-md-6">

         <h5 class="izquierda"> <strong>Fecha del Corte: </strong>
          <%= @cuadroproduccion.fechacorte %>
        </div></h5>
        <div class="col-md-6">
         <h5 class="derecha"><strong>Fecha de Entrada: </strong>
         <%= @cuadroproduccion.fechaentradabodega %></h5>
       </div>

     </td>
   </tr>
   <tr class="active">
    <td>

      <div class="col-md-6">
      <h5 class="izquierda"> <strong>Fecha de Entrega: </strong>
       <%= @cuadroproduccion.fechaentregamodulo %></h5>
     </div>
     <div class="col-md-6">
     <h5 class="derecha"> <strong>Modulo: </strong>
      <%= @cuadroproduccion.modulo.modulonombre rescue nil %></h5>

    </div>



  </td>
</tr>

<tr>
  <td>

    <div class="col-md-12">
<h5 class="izquierda">
     <strong>Descripción:</strong>
     <%= @cuadroproduccion.descripcioncorte.ordenproduccion.descripcion %> </h5>
   </div>
 </td>
</tr>



</table>
</div>
<div class="panel-footer">
    <small>Centro de formación en diseño, confección y Moda</small><br>

  <%= link_to "<i class='fa fa-pencil fa-4x'></i>".html_safe, edit_descripcioncorte_cuadroproduccion_path(@descripcioncorte,@cuadroproduccion) %>
  <%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe, descripcioncorte_cuadroproduccions_path %>

</div>
</div>
  
</div>

<div class="col-md-2"></div>

</div>
</body>