<body class="homepageesh">
    <div class="col-md-12">
<div class="col-md-2"></div>

<div class="col-md-8">



<br>

<div >
  <div class="panel panel-succes">
    <div class="panel-heading center">
      <h3 class="panel-title">
        <h2 class="center1">Cuadro de Producción</h2></h3>
        <h4><strong>Numero Orden: </strong>
        000<%= @cuadroproduccion.ordenproduccion.id %></h4>
      </div>
      <div class="panel-body">
        <div class="the-price">
          <div class="center-block">
                    
                  <%= image_tag("senab.png")%>
                  </div>
          
        </div>
        <table class="table">
          <tr class="">
            <td>
              <div class="col-md-6">
               <h5 class="izquierda"> <strong>Referencia: </strong>
               <%= @cuadroproduccion.ordenproduccion.referencia %>
                 </h5>
              </div>



            </div>

            <div class="col-md-6">
             
            </div>
          </td>
        </tr>
        <tr >
          <td>
            <div class="col-md-6">
             <h5 class="izquierda"> <strong>Corte: </strong>
              <%= @cuadroproduccion.ordenproduccion.corte.cortenombre rescue nil %></h5>
            </div>

            <div class="col-md-6">
              <h5 class="derecha"><strong>Tela: </strong>
              <%= @cuadroproduccion.ordenproduccion.tela.telanombre rescue nil %></h5>
            </div>
          </td>
        </tr>
        <tr>
         
        </tr>
        <tr class="">
          <td>
            <div class="col-md-6">
              <h5 class="izquierda"><strong>Largo del Trazo: </strong>
              <%= @cuadroproduccion.ordenproduccion.largotrazo %></h5>
            </div>
            <div class="col-md-6">
           <h5 class="derecha">  <strong>Veces en el Trazo: </strong>
             <%= @cuadroproduccion.ordenproduccion.vecestrazo %></h5>
           </div>


         </td>
       </tr>

       <tr>
        <td>
          <div class="col-md-6">
            <h5 class="izquierda"><strong>Promedio: </strong>
            <%= @cuadroproduccion.ordenproduccion.promedio %></h5>
          </div>
          <div class="col-md-6">

           <h5 class="derecha"> <strong>Responsable: </strong>
            <%= @cuadroproduccion.ordenproduccion.responsablecorte %>
</h5>
          </div>


        </td>
      </tr>

      



      <tr class="">
        <td>
          <div class="col-md-6">
            <h5 class="izquierda"><strong>Fecha del Trazo: </strong>
            <%= @cuadroproduccion.fechatrazo %></h5>
          </div>
          <div class="col-md-6">
            <h5 class="derecha"><strong>Ancho del Trazo: </strong>
            <%= @cuadroproduccion.ordenproduccion.ancho %></h5>
          </div>

        </td>
      </tr>
      <tr>
        <td>

         <div class="col-md-6">

         <h5 class="izquierda"> <strong>Fecha del Corte: </strong>
          <%= @cuadroproduccion.fechacorte %>
        </div></h5>
        <div class="col-md-6">
         <h5 class="derecha"><strong>Fecha de Entrada: </strong>
         <%= @cuadroproduccion.fechaentradabodega %></h5>
       </div>

     </td>
   </tr>
   <tr class="">
    <td>

      <div class="col-md-6">
      <h5 class="izquierda"> <strong>Fecha de Entrega: </strong>
       <%= @cuadroproduccion.fechaentregamodulo %></h5>
     </div>
     <div class="col-md-6">
     <h5 class="derecha"> <strong>Modulo: </strong>
      <%= @cuadroproduccion.modulo.modulonombre rescue nil %></h5>

    </div>



  </td>
</tr>

<tr>
  <td>

    <div class="col-md-12">
<h5 class="izquierda">
     <strong>Descripción:</strong>
     <%= @cuadroproduccion.ordenproduccion.descripcion %> </h5>
   </div>
 </td>
</tr>



</table>
</div>


<div class="panel-footer">

  

<% @ordenproduccion.descripcioncortes.each do |descripcioncorte| %>

  <% if descripcioncorte.ordenproduccion.id == @cuadroproduccion.ordenproduccion.id %>
   <div class="col-md-6">
        <h5 class="izquierda hh"> <strong>Color: </strong><%= descripcioncorte.color.colornombre rescue nil %></h5>
    </div>
    <div class="col-md-6">
        <h5 class="derecha hh"> <strong>Cantidad: </strong> <%= descripcioncorte.tallasuma %></h5>
    </div>

<%end%>
<%end%>





    <small>Centro de formación en diseño, confección y Moda</small><br>

  <%= link_to "<i class='fa fa-pencil fa-4x'></i>".html_safe, edit_ordenproduccion_cuadroproduccion_path(@ordenproduccion,@cuadroproduccion) %>
  <%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe, ordenproduccion_cuadroproduccions_path %>

</div>
</div>
  
</div>

<div class="col-md-2"></div>

</div>
</body>





<style>
  .hh{
    color: gray;
    font-size: 25px;
  }
</style>