<%= form_for(@ordentercero) do |f| %>
  <% if @ordentercero.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordentercero.errors.count, "error") %> prohibited this ordentercero from being saved:</h2>

      <ul>
      <% @ordentercero.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="col-md-12">
    
    <div class="col-md-4">
    <div class="field">
    <%= f.label :referencia %><br>
    <%= f.text_field :referencia, class:'form-control' %>
  </div></div>
  <div class="col-md-4">
  <div class="field">
    <%= f.label :numeroop %><br>
    <%= f.text_field :numeroop, class:'form-control'  %>
  </div>
  </div>
  <div class="col-md-4">
  <div class="field">
    <%= f.label :nombreproveedor %><br>
    <%= f.text_field :nombreproveedor, class:'form-control'  %>
  </div>
  </div>
  </div>
  
  <div class="col-md-12">
    
    <div class="col-md-4">
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion, class:'form-control' %>
  </div>
  </div>
      <div class="col-md-4">
  <div class="field">
    <%= f.label :telefono %><br>
    <%= f.text_field :telefono, class:'form-control' %>
  </div>
  </div>
      <div class="col-md-4">
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, class:'form-control' %>
  </div>
  </div>
  </div>
  
  <div class="field">
    <%= f.label :fechaingreso %><br>
    <%= f.datetime_select :fechaingreso %>
  </div>
  <div class="field">
    <%= f.label :fechasalida %><br>
    <%= f.datetime_select :fechasalida %>
  </div>
  <div class="field">
    <%= f.label :responsable %><br>
    <%= f.text_field :responsable %>
  </div>
  
  <div class="field">
     Proceso <br>
    <%= f.collection_select :proceso_id, Proceso.all, :id, :procesonombre, class: "form-control",     prompt: "Seleccione proceso" %>
  </div>
  
  
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.text_field :cantidad %>
  </div>
  <div class="field">
    <%= f.label :pieza %><br>
    <%= f.text_field :pieza %>
  </div>

  
  <div class="field">
     Color <br>
    <%= f.collection_select :color_id, Color.all, :id, :colornombre, class: "form-control",     prompt: "Seleccione Color" %>
  </div>
  
  <div class="field">
    <%= f.label :transportador %><br>
    <%= f.text_field :transportador %>
  </div>
  <div class="field">
    <%= f.label :totalunidad %><br>
    <%= f.number_field :totalunidad %>
  </div>
  <div class="field">
    <%= f.label :observacion %><br>
    <%= f.text_area :observacion %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
