<p id="notice"><%= notice %></p>

<p>
  <strong>Referencia:</strong>
  <%= @ordentercero.referencia %>
</p>

<p>
  <strong>Numeroop:</strong>
  <%= @ordentercero.numeroop %>
</p>

<p>
  <strong>Nombreproveedor:</strong>
  <%= @ordentercero.nombreproveedor %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @ordentercero.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @ordentercero.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @ordentercero.email %>
</p>

<p>
  <strong>Fechaingreso:</strong>
  <%= @ordentercero.fechaingreso %>
</p>

<p>
  <strong>Fechasalida:</strong>
  <%= @ordentercero.fechasalida %>
</p>

<p>
  <strong>Responsable:</strong>
  <%= @ordentercero.responsable %>
</p>

<p>
  <strong>Proceso:</strong>
  <%= @ordentercero.proceso.procesonombre %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @ordentercero.cantidad %>
</p>

<p>
  <strong>Pieza:</strong>
  <%= @ordentercero.pieza %>
</p>

<p>
  <strong>Color:</strong>
  <%= @ordentercero.color.colornombre %>
</p>

<p>
  <strong>Transportador:</strong>
  <%= @ordentercero.transportador %>
</p>

<p>
  <strong>Totalunidad:</strong>
  <%= @ordentercero.totalunidad %>
</p>

<p>
  <strong>Observacion:</strong>
  <%= @ordentercero.observacion %>
</p>

<%= link_to 'Edit', edit_ordentercero_path(@ordentercero) %> |
<%= link_to 'Back', ordenterceros_path %>
