
<div class="mode">
  <br><br>

  <%= form_for([@ordenproduccion, @ordenproduccion.descripcioncortes.build]) do |f| %>


  <div class="col-md-12">

   <div class="col-md-4">
    <div class="field">
      <h5><b>COLOR</b></h5>
      <%= f.collection_select :color_id, Color.all, :id, :colornombre,{prompt: "Seleccione Color"},{ class: "form-control"} %>
    </div>
  </div>

  <div class="col-md-4">
   <div class="field">
     <h5><b>TALLA XS</b></h5>
     <%= f.number_field :tallaxs , class:'form-control', :id => 'xs', :onblur => 'sum()'%>
   </div>
 </div>
 <div class="col-md-4">
  <div class="field">
   <h5><b>TALLA S</b></h5>
   <%= f.number_field :tallas , class:'form-control', :id => 's', :onblur => 'sum()'%>
 </div>
</div>






</div>


<div class="col-md-12">


 <div class="col-md-4">
   <div class="field">
     <h5><b>TALLA M</b></h5>
     <%= f.number_field :tallam , class:'form-control',:id => 'm', :onblur => 'sum()'%>
   </div>
 </div>



 <div class="col-md-4">
  <div class="field">
   <h5><b>TALLA L</b></h5>
   <%= f.number_field :tallal , class:'form-control', :id => 'l', :onblur => 'sum()'%>
 </div>
</div>






<div class="col-md-4">

 <div class="field">
   <h5><b>TALLA XL</b></h5>
   <%= f.number_field :tallaxl , class:'form-control' , :id => "xl", :onblur => 'sum()' %>
 </div>
</div>

</div>





<div class="field invisi">

 <%= f.label :Tallasuma, class:''  %><br>
 <%= f.text_field :tallasuma , class:'form-control' , :id => "suma", :onblur => 'sum()' %>
</div>




<div class="col-md-12">
 <div class="col-md-6">

 </div> 

 <div class="col-md-3">
  <div class="actions">
    <%= f.submit "GUARDAR",class:'btn btn-succes questo tex2'%>
  </div>
</div>

<div class="col-md-6">

</div>

</div>


<% end %>



</div>
