<%= form_for(@ordenproduccion) do |f| %>
  <% if @ordenproduccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordenproduccion.errors.count, "error") %> prohibited this ordenproduccion from being saved:</h2>

      <ul>
      <% @ordenproduccion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-12">
  <div class="col-md-4">
  
  <div class="field">
    <%= f.label :fechaprogramacion, class:'letrablanca' %><br>
    <%= f.text_field :fechaprogramacion, class:'datepicker form-control' %>
  </div>
</div>
<div class="col-md-4">
   <div class="field">
    <%= f.label :tiqueteada, class:'letrablanca'  %><br>
    <%= f.text_field :tiqueteada, class:'form-control' %>
  </div>
 
</div>
<div class="col-md-4">
  
  
  <div class="field">
     
     <%= f.label :Cliente, class:'letrablanca'  %><br>
    <%= f.collection_select :cliente_id, Cliente.all, :id, :clientenombre,{prompt: "Seleccione Cliente"}, {class: "form-control"}  %>
  </div>
</div>
</div>


<div class="col-md-12">
    <div class="col-md-4">
      <div class="field">
    <%= f.label :referencia, class:'letrablanca'  %><br>
    <%= f.text_field :referencia, class:'form-control' %>
  </div>
  </div>

  <div class="col-md-4">
      
  <div class="field">
     <%= f.label :Corte, class:'letrablanca' %><br>
    <%= f.collection_select :corte_id, Corte.all, :id, :cortenombre,{prompt: "Seleccione Corte"}, {class: "form-control"}  %>
  </div>
     
  </div>
 
  <div class="col-md-4">
    <div class="field">
    <%= f.label :ancho, class:'letrablanca'  %><br>
    <%= f.text_field :ancho, class:'form-control' %>
  </div>
  </div>
</div>


<div class="col-md-12">
   <div class="col-md-4">
     <div class="field">
     <%= f.label :Tela, class:'letrablanca'  %><br>
    <%= f.collection_select :tela_id, Tela.all, :id, :telanombre,{prompt: "Seleccione Tela"}, {class: "form-control"} %>
  </div>
  </div>
 
  <div class="col-md-4">
     <div class="field">
      <%= f.label :largotrazo, class:'letrablanca'  %><br>
      <%= f.number_field :largotrazo , class:'form-control'%>
    </div>
  </div>
 
  <div class="col-md-4">
     <div class="field">
      <%= f.label :vecestrazo, class:'letrablanca'  %><br>
      <%= f.number_field :vecestrazo , class:'form-control'%>
    </div>
  </div>
</div>

  
<div class="col-md-12">
    <div class="col-md-4">
   <div class="field">
    <%= f.label :capas, class:'letrablanca'  %><br>
    <%= f.number_field :capas, class:'form-control' %>
  </div>
  </div>
 
  <div class="col-md-4">
     <div class="field">
    <%= f.label :cantidad, class:'letrablanca'  %><br>
    <%= f.text_field :cantidad, class:'form-control' %>
  </div>
  </div>
 
  <div class="col-md-4">
      <div class="field">
    <%= f.label :responsablecorte, class:'letrablanca'  %><br>
    <%= f.text_field :responsablecorte, class:'form-control' %>
  </div>
  </div>
</div>
 

 <div class="col-md-12">
     <div class="col-md-4">
     <div class="field">
     <%= f.label :Prenda, class:'letrablanca'  %><br>
    <%= f.collection_select :prenda_id, Prenda.all, :id, :prendanombre,{prompt: "Seleccione Prenda"},{ class: "form-control"} %>
  </div>

  </div>
 
  <div class="col-md-4">
    
    <div class="field">
    <%= f.label :largotendido, class:'letrablanca'  %><br>
    <%= f.text_field :largotendido, class:'form-control', class:'form-control' %>
  </div>
    
  </div>
  
  <div class="col-md-4">
    
  </div>
 </div>

 
<div class="col-md-12">
    
  <div class="col-md-8">
  <div class="field">
    <%= f.label :descripcion, class:'letrablanca'  %><br>
    <%= f.text_area :descripcion, class:'form-control' %>
  </div>
  </div>
  <div class="col-md-4">
       
       <div class="actions">
        <%= f.submit "Guardar",class:'btn btn-default btn-lg btn-block'%>
   <% end %>
  </div>
  </div>
 
 </div>

