<%= form_for(@ordenproduccion) do |f| %>
  <% if @ordenproduccion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ordenproduccion.errors.count, "error") %> prohibited this ordenproduccion from being saved:</h2>

      <ul>
      <% @ordenproduccion.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="col-md-12 cubo ">
  <div class="col-md-4">
  
  <div class="field">
<h5><b>FECHA DE PROGRAMACIÓN</b></h5>
    <%= f.text_field :fechaprogramacion, class:'datepicker form-control' %>
  </div>
</div>
<div class="col-md-4">
   <div class="field">
    <h5><b>TIQUETEADA</b></h5>
    <%= f.text_field :tiqueteada, class:'form-control' %>
  </div>
 
</div>
<div class="col-md-4">
  
  
  <div class="field">
     
     <h5><b>CLIENTE</b></h5>
    <%= f.collection_select :cliente_id, Cliente.all, :id, :clientenombre,{prompt: "Seleccione Cliente"}, {class: "form-control"}  %>
  </div>
</div>



<br>
    <div class="col-md-4">
      <div class="field">
    <h5><b>REFERENCIA</b></h5>
    <%= f.text_field :referencia, class:'form-control' %>
  </div>
  </div>
<br>
  <div class="col-md-4">
      
  <div class="field">
     <h5><b>CORTE</b></h5>
    <%= f.collection_select :corte_id, Corte.all, :id, :cortenombre,{prompt: "Seleccione Corte"}, {class: "form-control"}  %>
  </div>
    <br> 
  </div>
 <br>
  <div class="col-md-4">
    <div class="field">
    <h5><b>ANCHO</b></h5>
    <%= f.text_field :ancho, class:'form-control' %>
  </div>
  </div>
<br>
</div>


<div class="col-md-12 cubo1">
   <div class="col-md-4">
     <div class="field">
     <h5><b>TELA</b></h5>
    <%= f.collection_select :tela_id, Tela.all, :id, :telanombre,{prompt: "Seleccione Tela"}, {class: "form-control"} %>
  </div>
  </div>
 
  <div class="col-md-4">
     <div class="field">
      <h5><b>LARGO DEL TRAZO</b></h5>
      <%= f.number_field :largotrazo , :type => 'float' , :in => 0..100, :step => 0.01, class:'form-control'%>
    </div>
  </div>
 
  <div class="col-md-4">
     <div class="field">
      <h5><b>VECES EN EL TRAZO</b></h5>
      <%= f.number_field :vecestrazo , :type => 'float' , :in => 0..100, :step => 0.01, class:'form-control'%>
    </div>
  </div>
<br>
    <div class="col-md-4">
   <div class="field">
    <h5><b>CAPAS</b></h5>
    <%= f.number_field :capas, class:'form-control' %>
  </div>
  </div>
 <br>
  <div class="col-md-4">
     <div class="field">
    <h5><b>CANTIDAD</b></h5>
    <%= f.text_field :cantidad, class:'form-control' %>
  </div>
  </div>
 <br>
  <div class="col-md-4">
      <div class="field">
    <h5><b>RESPONSABLE DEL CORTE</b></h5>
    <%= f.text_field :responsablecorte, class:'form-control' %>
  </div>
  </div>
  <br>
</div>
 

 <div class="col-md-12 cubo">
     <div class="col-md-4">
     <div class="field">
     <h5><b>PRENDA</b></h5>
    <%= f.collection_select :prenda_id, Prenda.all, :id, :prendanombre,{prompt: "Seleccione Prenda"},{ class: "form-control"} %>
  </div>

  </div>
 
  <div class="col-md-4">
    
    <div class="field">
    <h5><b>LARGO DEL TENDIDO</b></h5>
    <%= f.text_field :largotendido, class:'form-control', class:'form-control' %>
  </div>
    
  </div>
  
  <div class="col-md-4">
    
  </div>

    <br> <br>
  <div class="col-md-8">
  <div class="field">
    <h5><b>DESCRIPCIÓN</b></h5>
    <%= f.text_area :descripcion, class:'form-control' %>
  </div>
  </div>
  <br> <br>
  <div class="col-md-4">
       
       <div class="actions">
        <%= f.submit "GUARDAR",class:'btn btn-succes btn-lg btn-block questo tex1'%>
   <% end %>
  </div>
  </div>
  <br>
 
 </div> <br>

