
 
<div class="mode">
  <br><br>

  <%= form_for([@ordenproduccion, @ordenproduccion.descripcioncortes.build]) do |f| %>



  <div class="col-md-12">

   <div class="col-md-3">
    <div class="field">
     
     
      <h5><b>COLOR</b></h5>
      <%= f.collection_select :color_id, Color.all, :id, :colornombre,{prompt: "Seleccione Color"},{ class: "form-control"} %>
    </div>
  </div>
  
  <div class="col-md-3">
   <div class="filed">
    
<button class="btn btn-succes tallaboton" role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
<b>Tallas Letras</b>
</button>
   </div>
  </div>
  
   <div class="col-md-3">
   <div class="filed">
    
<button class="btn btn-succes tallaboton" role="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
<b>Tallas Unidad</b>
</button>
   </div>
  </div>


 <div class="col-md-3">
   <div class="filed">
    

<button class="btn btn-succes tallaboton " type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
 <b>Tallas Unidades</b>
</button>
   </div>
  </div>


  
</div>





<div class="collapse" id="collapseExample">
  <div class="">

 <div class="col-md-12">
 <div class="col-md-1"></div>
 <div class="col-md-2"><div class="field">
     <h5><b>TALLA XS</b></h5>
     <%= f.number_field :tallaxs , class:'form-control', :id => 'xs', :onblur => 'sum()'%>
   </div></div>
 <div class="col-md-2"><div class="field">
   <h5><b>TALLA S</b></h5>
   <%= f.number_field :tallas , class:'form-control', :id => 's', :onblur => 'sum()'%>
 </div></div>
 <div class="col-md-2"><div class="field">
     <h5><b>TALLA M</b></h5>
     <%= f.number_field :tallam , class:'form-control',:id => 'm', :onblur => 'sum()'%>
   </div></div>
 <div class="col-md-2"><div class="field">
   <h5><b>TALLA L</b></h5>
   <%= f.number_field :tallal , class:'form-control', :id => 'l', :onblur => 'sum()'%>
 </div></div> 
 <div class="col-md-2"><div class="field">
   <h5><b>TALLA XL</b></h5>
   <%= f.number_field :tallaxl , class:'form-control' , :id => "xl", :onblur => 'sum()' %>
 </div></div>
 <div class="col-md-1"></div>
</div>







  </div>
</div>
<div class="collapse" id="collapseExample2">
  <div class="col-md-12">
 <div class="col-md-1"></div>
 <div class="col-md-2"><div class="field">
     <h5><b>TALLA 6</b></h5>
     <%= f.number_field :talla6 , class:'form-control', :id => 'xs', :onblur => 'sum()'%>
   </div></div>
 <div class="col-md-2"><div class="field">
   <h5><b>TALLA 8</b></h5>
   <%= f.number_field :talla8 , class:'form-control', :id => 's', :onblur => 'sum()'%>
 </div></div>
 <div class="col-md-2"><div class="field">
     <h5><b>TALLA 10</b></h5>
     <%= f.number_field :talla10 , class:'form-control',:id => 'm', :onblur => 'sum()'%>
   </div></div>
 <div class="col-md-2"><div class="field">
   <h5><b>TALLA 12</b></h5>
   <%= f.number_field :talla12 , class:'form-control', :id => 'l', :onblur => 'sum()'%>
 </div></div> 
 <div class="col-md-2"><div class="field">
   <h5><b>TALLA 14</b></h5>
   <%= f.number_field :talla14 , class:'form-control' , :id => "xl", :onblur => 'sum()' %>
 </div></div>
 <div class="col-md-1"></div>
</div>
</div>



<div class="collapse" id="collapseExample1">
  

<div class="col-md-12">
 <div class="col-md-1"></div>
 <div class="col-md-2"><div class="field">
     <h5><b>TALLA 28</b></h5>
     <%= f.number_field :talla28 , class:'form-control', :id => 'xs', :onblur => 'sum()'%>
   </div></div>
 <div class="col-md-2"><div class="field">
   <h5><b>TALLA 30</b></h5>
   <%= f.number_field :talla30 , class:'form-control', :id => 's', :onblur => 'sum()'%>
 </div></div>
 <div class="col-md-2"><div class="field">
     <h5><b>TALLA 32</b></h5>
     <%= f.number_field :talla32 , class:'form-control',:id => 'm', :onblur => 'sum()'%>
   </div></div>
 <div class="col-md-2"><div class="field">
   <h5><b>TALLA 34</b></h5>
   <%= f.number_field :talla34 , class:'form-control', :id => 'l', :onblur => 'sum()'%>
 </div></div> 
 <div class="col-md-2"><div class="field">
   <h5><b>TALLA 36</b></h5>
   <%= f.number_field :talla36 , class:'form-control' , :id => "xl", :onblur => 'sum()' %>
 </div></div>
 <div class="col-md-1"></div>
</div>

</div>




<div class="field invisi">

 <%= f.label :Tallasuma, class:''  %><br>
 <%= f.text_field :tallasuma , class:'form-control' , :id => "suma", :onblur => 'sum()' %>
</div>



<div class="col-md-12">
 <div class="col-md-8">

 </div> 
<br></br>
 <div class="col-md-4">
  <div class="actions">
    <%= f.submit "GUARDAR",class:'btn btn-succes questo tex2'%>
  </div>
</div>

</div>


<% end %>



</div>


 