<div class="">
  <%= form_for([@ordenproduccion, @ordenproduccion.materiales.build]) do |f| %>
  
  <h2 class="center"> MATERIAL - <small>ORDEN #: <%= @ordenproduccion.id  %></small></h2> 
  
  <div class="col-md-12">
    <div class="col-md-3">
      <p>
        <h3>Ancho</h3>
        <%= f.number_field :anchom , :type => 'float' , :in => 0..100, :step => 0.01, class:'form-control'%>
      </p>
    </div>
      <div class="col-md-3">
         <p>
          <h3>largotrazo</h3>
          <%= f.number_field :largotrazom , :type => 'float' , :in => 0..100, :step => 0.01, class:'form-control'%>
        </p>
  <p>
    </div>
      <div class="col-md-3">
     
        <p>
    <h3>Cantidad</h3>
    <%= f.number_field :cantidad , :type => 'float' , :in => 0..100, :step => 0.01, class:'form-control'%>

    <p>
    </div>
    
 
    <div class="col-md-3">
       
        <p>
    <h3>Tela</h3>
    <%= f.collection_select :tela_id, Tela.all, :id, :telanombre,{prompt: "Seleccione Tela"}, {class: "form-control"} %>

  </p>
    </div>
    
    
    </div>
    
  
  <div class="col-md-12">
     <div class="col-md-3">
         
  <p>
    <h3>Largotendido</h3>
    <%= f.number_field :largotendidom , :type => 'float' , :in => 0..100, :step => 0.01, class:'form-control'%>
  </p>
  <p>
    </div>
     <div class="col-md-3">
      
        <p>
    <h3>capas</h3>
    <%= f.number_field :capasm , :type => 'float' , :in => 0..100, :step => 0.01, class:'form-control'%>

  </p>
    </div>
  

    <div class="col-md-3">
     
  <p>
    <h3>vecestrazo</h3>
    <%= f.number_field :vecestrazom , :type => 'float' , :in => 0..100, :step => 0.01, class:'form-control'%>
  </p>
  <p>
    </div>
    
    <div class="col-md-3">
          
        <p>
    <h3>Color</h3>
    <%= f.collection_select :color_id, Color.all, :id, :colornombre,{prompt: "Seleccione Color"}, {class: "form-control"} %>

  </p>
    </div>
    
    </div>
    
  
 
  <div class="col-md-12">
      
    <%= f.submit "Guardar Material",class:'btn btn-succes questo tex1' %>
   
  </p>
<% end %>
    </div>
  
  
  
  
  
</div>