<body class="homepageesh">
 
 


<% re= 0 %>
<% @ordenproduccion.descripcioncortes.each do |descripcioncorte| %>
<table class="table">


 <hr class="two">
    <hr class="two">
 
<p>

<% if descripcioncorte.material == true %>
<b>MATERIAL </b> <i class="fa fa-check"></i>

<% end %>
</p>

 <% if  descripcioncorte.color  == nil%>
   
   
  <% elsif %>
 <ul class="list-group">

 
  
  <% if  descripcioncorte.tallaxs < 1 %>
  
  <% elsif %>
  
   <li class="list-group-item">
     <span class="badge"><%= descripcioncorte.tallaxs %></span>
     <strong>TALLA XS: </strong>
   </li>
  
   <% end %>
   
   <% if  descripcioncorte.tallas < 1 %>
  
  <% elsif %>
    <li class="list-group-item">
      <span class="badge"><%= descripcioncorte.tallas %></span>
      <strong>TALLA S: </strong>
    </li>
    
  <% end %>
  
  
  
   <% if  descripcioncorte.tallam < 1 %>
  
  <% elsif %>
    
    <li class="list-group-item">
      <span class="badge"> <%= descripcioncorte.tallam %></span>
      <strong>TALLA M: </strong>
    </li>
  <% end %>
  
   
  <% if  descripcioncorte.tallal < 1 %>
  
  <% elsif %> 
    <li class="list-group-item">
      <span class="badge"> <%= descripcioncorte.tallal %></span>
      <strong>TALLA L: </strong>
    </li>
  
  <% end %>
  
  
   <% if  descripcioncorte.tallaxl < 1 %>
  
    <% elsif %>
    <li class="list-group-item">
      <span class="badge"> <%= descripcioncorte.tallaxl %></span>
      <strong>TALLA XL: </strong>
    </li>
    
    <% end %>
    
    
   <% if  descripcioncorte.talla6 < 1 %>
  
  <% elsif %>  
  <li class="list-group-item">
    <span class="badge"> <%= descripcioncorte.talla6 %></span>
    <strong>TALLA 6: </strong>
  </li>
  
  <% end %>
  
  
   <% if  descripcioncorte.talla8 < 1 %>
  
  <% elsif %>
  <li class="list-group-item">
    <span class="badge"> <%= descripcioncorte.talla8 %></span>
    <strong>TALLA 8: </strong>
  </li>
  
  <% end %>
  
  
   <% if  descripcioncorte.talla10 < 1 %>
  
  <% elsif %>
  
  <li class="list-group-item">
    <span class="badge"> <%= descripcioncorte.talla10 %></span>
    <strong>TALLA 10: </strong>
  </li>
  
  
  <% end %>
  
   <% if  descripcioncorte.talla12 < 1 %>
  
  <% elsif %>
  <li class="list-group-item">
    <span class="badge"> <%= descripcioncorte.talla12 %></span>
    <strong>TALLA 12: </strong>
  </li>
  
  
  <% end %>
  
  
   <% if  descripcioncorte.talla14 < 1 %>
  
  <% elsif %>
  <li class="list-group-item">
    <span class="badge"> <%= descripcioncorte.talla14 %></span>
    <strong>TALLA 14: </strong>
  </li>
  
  <% end %>
  
   <% if  descripcioncorte.talla28 < 1 %>
  
  <% elsif %>
  <li class="list-group-item">
    <span class="badge"> <%= descripcioncorte.talla28 %></span>
    <strong>TALLA 28: </strong>
  </li>
  
  <% end %>
  
   <% if  descripcioncorte.talla30 < 1 %>
  
  <% elsif %>
  <li class="list-group-item">
    <span class="badge"> <%= descripcioncorte.talla30 %></span>
    <strong>TALLA 30: </strong>
  </li>
  
  <% end %>
  
   <% if  descripcioncorte.talla32 < 1 %>
  
  <% elsif %>
  <li class="list-group-item">
    <span class="badge"> <%= descripcioncorte.talla32 %></span>
    <strong>TALLA 32: </strong>
  </li>
  
  <% end %>
  
   <% if  descripcioncorte.talla34 < 1 %>
  
  <% elsif %>
  
  <li class="list-group-item">
    <span class="badge"> <%= descripcioncorte.talla34 %></span>
    <strong>TALLA 34: </strong>
  </li>
  
  <% end %>
  
   <% if  descripcioncorte.talla36 < 1 %>
  
  <% elsif %>
  <li class="list-group-item">
    <span class="badge"> <%= descripcioncorte.talla36 %></span>
    <strong>TALLA 36: </strong>
  </li>

<%end%>

</ul>
  
 

   

     <tr>
      <td>
       <div class="col-md-12 sumaa">
         <h5 class="izquierda "> <strong>Color:  <%= descripcioncorte.color.colornombre rescue nil %> </strong> 
       <br> <strong>Total: </strong>
          <%= descripcioncorte.tallasuma %> </h5>



        </div>
      </td>
    </tr>

    <%      
    re = re + sumar(descripcioncorte.tallasuma) 
    %>
    
    <% end %>

 
    
   

    <div class="col-md-12">
     <div class="col-md-10"></div>
     <div class="col-md-2">

     <h4 class="center">
        <%= link_to "<i class='fa fa-eraser fa-3x'></i>".html_safe, [descripcioncorte.ordenproduccion, descripcioncorte],method: :delete, data: { confirm: 'Are you sure?' } %>
     </h4>

    </div>
  </div>
  <% end %>
  <tr>
    <td>
     <div class="col-md-12 sumaa">
       <hr class="two">
       <h5 class="izquierda rr"> 
       <strong>Total Unidad: <%= re %></strong> </h5>
     


     </div>
      <hr class="two">
    <hr class="two">
     <br></br>
   </td>
 </tr>

</table>

<br>
</body>




