<body class="homepageesh">
 

<% re= 0 %>
<% @ordenproduccion.descripcioncortes.each do |descripcioncorte| %>
<table class="table">



  <tr>
    <td>
      <div class="col-md-6">
       <h5 class="izquierda zur"> <strong>COLOR: </strong>
         <%= descripcioncorte.color.colornombre rescue nil %></h5>
       </div>
       <div class="col-md-6 ini">
         <h5 class="derecha"><strong>Capas: </strong>
         </h5>
       </div>

     </td>
   </tr>
   <tr class="">
    <td>

     <div class="col-md-12">
      <div class="col-md-1"></div>
      <div class="col-md-2">
      <h5 class="izquierda"> <strong>TALLA XS: </strong>
        <%= descripcioncorte.tallaxs %></h5>

      </div>
      <div class="col-md-2">
        <h5 class="derecha"> <strong>TALLA S: </strong>
          <%= descripcioncorte.tallas %></h5>

        </div>
        <div class="col-md-2">
         <h5 class="izquierda"> <strong>TALLA M: </strong>
           <%= descripcioncorte.tallam %></h5>
        </div>
        <div class="col-md-2">
          <h5 class="derecha"><strong>TALLA L: </strong>
            <%= descripcioncorte.tallal %></h5>
        </div>
        <div class="col-md-2">
           <h5 class="izquierda"><strong>TALLA XL: </strong>
            <%= descripcioncorte.tallaxl %></h5>
 
          </div>
              <div class="col-md-1"></div>

     </div>
     

      </td>
    </tr>
    <tr>
     
      </tr>
      <tr class="">
        <td>
         
         <div class="col-md-12">
          
          <div class="col-md-1"></div>
          
          <div class="col-md-2">
           <h5 class="izquierda"> <strong>TALLA 6:</strong>
           <%= descripcioncorte.talla6 %></h5>
          </div>
          <div class="col-md-2">
          <h5 class="derecha"> <strong>TALLA 8:</strong>
           <%= descripcioncorte.talla8 %></h5>
          </div>
         
          <div class="col-md-2">
          <h5 class="izquierda"> <strong>TALLA 10:</strong>
           <%= descripcioncorte.talla10 %></h5>
          </div>
         
          <div class="col-md-2">
          <h5 class="derecha"> <strong>TALLA 12:</strong>
           <%= descripcioncorte.talla12 %></h5>
          </div>
          
          <div class="col-md-2">
          <h5 class="izquierda"> <strong>TALLA 14:</strong>
           <%= descripcioncorte.talla14 %></h5>
          </div>
          
          
          <div class="col-md-1"></div>
         </div>



       </td>
     </tr>
      <tr class="">
        <td>
         
         <div class="col-md-12">
          
          <div class="col-md-1"></div>
          
          <div class="col-md-2">
           <h5 class="izquierda"> <strong>TALLA 28:</strong>
           <%= descripcioncorte.talla28 %></h5>
          </div>
          <div class="col-md-2">
          <h5 class="derecha"> <strong>TALLA 30:</strong>
           <%= descripcioncorte.talla30 %></h5>
          </div>
         
          <div class="col-md-2">
          <h5 class="izquierda"> <strong>TALLA 32:</strong>
           <%= descripcioncorte.talla32 %></h5>
          </div>
         
          <div class="col-md-2">
          <h5 class="derecha"> <strong>TALLA 34:</strong>
           <%= descripcioncorte.talla34 %></h5>
          </div>
          
          <div class="col-md-2">
          <h5 class="izquierda"> <strong>TALLA 36:</strong>
           <%= descripcioncorte.talla36 %></h5>
          </div>
          
          
          <div class="col-md-1"></div>
         </div>



       </td>
     </tr>

     <tr>
      <td>
       <div class="col-md-12 sumaa">
         <h5 class="izquierda "> <strong>Total: </strong>
          <%= descripcioncorte.tallasuma %> </h5>



        </div>
      </td>
    </tr>

    <%      
    re = re + sumar(descripcioncorte.tallasuma) 
    %>
    <hr class="two">

    <div class="col-md-12">
     <div class="col-md-10"></div>
     <div class="col-md-2">

      <%= link_to "<i class='fa fa-eraser fa-3x'></i>".html_safe, [descripcioncorte.ordenproduccion, descripcioncorte],method: :delete, data: { confirm: 'Are you sure?' } %>

    </div>
  </div>
  <% end %>
  <tr>
    <td>
     <div class="col-md-12 sumaa">
       <hr class="two">
       <h5 class="izquierda rr"> <strong>Total Unidad: <%= re %></strong> </h5>



     </div>
     
     <br></br>
   </td>
 </tr>

</table>

<br>
</body>