<div class="">
    <br>
    
    <h1 class="center">
     
    </h1>
    
<% @ordenproduccion.materiales.each do |material| %>
 
  <hr class="two">
 <table class="table">
   
   
   
             
             <tr>
                <td>
                  <div class="col-md-6">
                    <h1 class="izquierda1"> <strong class="izquierda1">Tela: </strong><b><%= material.tela.telanombre  rescue nil%></b></h1>

                  </div>
                  <div class="col-md-6">
                    <h1 class="derecha"> <strong class="derecha">Color: </strong><b><%= material.color.colornombre  rescue nil%></b></h1>

                  </div>
                  
                  
                </td>
              </tr>
              
              
              <tr>
                <td>
                  <div class="col-md-6">
                    <h5 class="izquierda"> <strong class="izquierda">capasm: </strong><%= material.capasm %></h5>

                  </div>
                  <div class="col-md-6">
                    <h5 class="derecha"><strong class="derecha">vecestrazom: </strong><%= material.vecestrazom %></h5>
                    
                  </div>
                  
                </td>
              </tr>
              
              
              <tr>
                <td>
                  <div class="col-md-6">
                    <h5 class="izquierda"> <strong class="izquierda">Cantidad: </strong><%= material.cantidad %></h5>

                  </div>
                  <div class="col-md-6">
                    <h5 class="derecha"><strong class="derecha">ancho: </strong><%= material.anchom %></h5>
                    
                  </div>
                  
                </td>
              </tr>
              
              <tr>
                <td>
                  <div class="col-md-6">
                    <h5 class="izquierda"> <strong class="izquierda">largotrazo: </strong><%= material.largotrazom %></h5>

                  </div>
                  <div class="col-md-6">
                    <h5 class="derecha"><strong class="derecha">largotendidom: </strong><%= material.largotendidom %></h5>
                    
                  </div>
                  
                </td>
              </tr>
               <tr>
                <td>
                  <div class="col-md-6">
                    <h5 class="izquierda1"> <strong class="izquierda"><b>Promedio</b>: </strong><%= material.promedio %></h5>

                  </div>
                  <div class="col-md-6">
                    <h5 class="derecha1"><strong class="derecha"><b>Total Metros</b>: </strong><%= material.totalmetros %></h5>
                    
                  </div>
                  
                </td>
              </tr>
              <hr class="two">  
 </table>
 
 

      
   <p>
  <%= link_to "<i class='fa fa-eraser fa-3x'></i>".html_safe, [material.ordenproduccion, material], method: :delete, data: { confirm: 'Are you sure?' } %>
</p>
 
<% end %>
  
</div>
