<h1>Listing ordenproduccions</h1>

<table>
  <thead>
    <tr>
      <th>Fechaprogramacion</th>
      <th>Ordennumero</th>
      <th>Cliente</th>
      <th>Descripcion</th>
      <th>Referencia</th>
      <th>Corte</th>
      <th>Ancho</th>
      <th>Tela</th>
      <th>Largotrazo</th>
      <th>Largotendido</th>
      <th>Numeropaquetes</th>
      <th>Cantidad</th>
      <th>Promediounidad</th>
      <th>Totalmetros</th>
      <th>Corte</th>
      <th>Tiqueteada</th>
      <th>Prenda</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ordenproduccions.each do |ordenproduccion| %>
      <tr>
        <td><%= ordenproduccion.fechaprogramacion %></td>
        <td><%= ordenproduccion.ordennumero %></td>
        <td><%= ordenproduccion.cliente %></td>
        <td><%= ordenproduccion.descripcion %></td>
        <td><%= ordenproduccion.referencia %></td>
        <td><%= ordenproduccion.corte %></td>
        <td><%= ordenproduccion.ancho %></td>
        <td><%= ordenproduccion.tela %></td>
        <td><%= ordenproduccion.largotrazo %></td>
        <td><%= ordenproduccion.largotendido %></td>
        <td><%= ordenproduccion.numeropaquetes %></td>
        <td><%= ordenproduccion.cantidad %></td>
        <td><%= ordenproduccion.promediounidad %></td>
        <td><%= ordenproduccion.totalmetros %></td>
        <td><%= ordenproduccion.corte %></td>
        <td><%= ordenproduccion.tiqueteada %></td>
        <td><%= ordenproduccion.prenda %></td>
        <td><%= link_to 'equipo', ordenproduccion_descripcioncortes_path(ordenproduccion) %></td>
        <td><%= link_to 'Show', ordenproduccion %></td>
        <td><%= link_to 'Edit', edit_ordenproduccion_path(ordenproduccion) %></td>
        <td><%= link_to 'Destroy', ordenproduccion, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ordenproduccion', new_ordenproduccion_path %>

