

<body class="homepageesh footer_tuto1">


  <br>

  <div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">


      <div >
        <div class="panel panel-succes">
          <div class="panel-heading center">
            <h3 class="panel-title">
            </h3>
            <h4><strong>Ordennumero: </strong>
              000<%= @ordenproduccion.id %></h4>
            </div>
            <div class="panel-body">
              <div class="the-price">
               <div class="center-block">

                <%= image_tag("senab.png")%>
              </div>

            </div>
            <table class="table">
              <tr>
                <td>
                  <div class="col-md-6">
                    <h5 class="izquierda"> <strong class="izquierda">Fecha: </strong><%= @ordenproduccion.fechaprogramacion %></h5>

                  </div>
                  <div class="col-md-6">
                    <h5 class="derecha"><strong>Cliente: </strong><%= @ordenproduccion.cliente.clientenombre rescue nil %></h5>
                    
                  </div>
                  
                </td>
              </tr>


              <tr class="">
                <td>

                 <div class="col-md-6">

                   <h5 class="izquierda"> <strong>Referencia: </strong><%= @ordenproduccion.referencia %></h5>
                 </div>
                 <div class="col-md-6">
                   <h5 class="derecha"><strong>Prenda: </strong>
                     <%= @ordenproduccion.prenda.prendanombre rescue nil %></h5>
                   </div>

                 </td>
               </tr>
               <tr>
                <td>

                  <div class="col-md-6">
                   <h5 class="izquierda"><strong>Corte: </strong>
                     <%= @ordenproduccion.corte.cortenombre rescue nil %></h5>

                   </div>
                   <div class="col-md-6">
                     <h5 class="derecha"> <strong>Ancho del Trazo: </strong>
                      <%= @ordenproduccion.ancho %></h5>

                    </div>



                  </td>
                </tr>
                <tr class="">
                  <td>
                    <div class="col-md-6">
                      <h5 class="izquierda"> <strong>Tela: </strong>
                       <%= @ordenproduccion.tela.telanombre rescue nil %></h5>
                     </div>
                     <div class="col-md-6">
                       <h5 class="derecha"> <strong>Largo del Trazo: </strong>
                        <%= @ordenproduccion.largotrazo %></h5>


                      </div>





                    </td>
                  </tr>
                  <tr>
                    <td>

                      <div class="col-md-6">
                       <h5 class="izquierda"> <strong>Veces en el Trazo: </strong>
                        <%= @ordenproduccion.vecestrazo %> </h5>
                      </div>
                      <div class="col-md-6">
                       <h5 class="derecha"> <strong>Largo del Tendido: </strong>
                        <%= @ordenproduccion.largotendido %>
                      </h5>
                    </div>



                  </td>
                </tr>
                <tr class="">
                  <td>

                    <div class="col-md-6">

                     <h5 class="izquierda"> <strong>Promedio: </strong>
                      <%= @ordenproduccion.promedio %></h5>
                    </div>
                    <div class="col-md-6">
                      <h5 class="derecha"> <strong>Cantidad: </strong>
                       <%= @ordenproduccion.cantidad %></h5>
                     </div>

                   </td>
                 </tr>
                 <tr>
                  <td>

                    <div class="col-md-6">
                     <h5 class="izquierda"> <strong>Responsable del Corte: </strong>
                       <%= @ordenproduccion.responsablecorte %>  </h5>
                     </div>
                     <div class="col-md-6">
                       <h5 class="derecha"> <strong>Capas: </strong>
                        <%= @ordenproduccion.capas %></h5>
                      </div>


                    </td>
                  </tr>

                  <tr class="">
                    <td>

                      <div class="col-md-6">
                       <h5 class="izquierda"> <strong>Total Metros:</strong>
                        <%= @ordenproduccion.totalmetros %></h5>
                      </div>
                      <div class="col-md-6">
                        <h5 class="derecha"><strong>Tiqueteada: </strong>
                          <%= @ordenproduccion.tiqueteada %></h5>

                        </div>


                      </td>
                    </tr>
                    <tr>
                      <td>
                       <div class="col-md-6"> <h5 class="izquierda"><strong>Descripcion: </strong>
                        <%= @ordenproduccion.descripcion %></h5></div>

                      </td>
                    </tr>


                  </table>
                </div>

                <h4><strong>Descripci칩n del Corte</strong></h4>

                <% re= 0 %>
                <% @ordenproduccion.descripcioncortes.each do |descripcioncorte| %>
                <table class="table">



                  <tr>
                    <td>
                      <div class="col-md-6">
                       <h5 class="izquierda"> <strong>COLOR: </strong>
                         <%= descripcioncorte.color.colornombre rescue nil %></h5>
                       </div>
                       <div class="col-md-6 ini">
                         <h5 class="derecha"><strong>Capas: </strong>
                         </h5>
                       </div>

                     </td>
                   </tr>
                   <tr class="">
                    <td>

                     <div class="col-md-6">
                      <h5 class="izquierda"> <strong>TALLA XS: </strong>
                        <%= descripcioncorte.tallaxs %></h5>

                      </div>
                      <div class="col-md-6">
                        <h5 class="derecha"> <strong>TALLA S: </strong>
                          <%= descripcioncorte.tallas %></h5>

                        </div>

                      </td>
                    </tr>
                    <tr>
                      <td>

                        <div class="col-md-6">
                         <h5 class="izquierda"> <strong>TALLA M: </strong>
                           <%= descripcioncorte.tallam %></h5>
                         </div>
                         <div class="col-md-6">
                           <h5 class="derecha"><strong>TALLA L: </strong>
                            <%= descripcioncorte.tallal %></h5>

                          </div>



                        </td>
                      </tr>
                      <tr class="">
                        <td>
                         <div class="col-md-6">
                          <h5 class="izquierda"><strong>TALLA XL: </strong>
                           <%= descripcioncorte.tallaxl %></h5>

                         </div>
                         <div class="col-md-6">

                         </div>



                       </td>
                     </tr>

                     <tr>
                      <td>
                       <div class="col-md-12 sumaa">
                         <h5 class="izquierda "> <strong>Total: </strong>
                          <%= descripcioncorte.tallasuma %> </h5>



                        </div>
                      </td>
                    </tr>

                    <%      
                    re = re + sumar(descripcioncorte.tallasuma) 
                    %>
                    <hr class="two">

                    <div class="col-md-12">
                     <div class="col-md-10"></div>
                     <div class="col-md-2">

                      <%= link_to "<i class='fa fa-eraser fa-3x'></i>".html_safe, [descripcioncorte.ordenproduccion, descripcioncorte],method: :delete, data: { confirm: 'Are you sure?' } %>

                    </div>
                  </div>
                  <% end %>

                  <tr>
                    <td>
                     <div class="col-md-12 sumaa">
                       <hr class="two">
                      <h5 class="izquierda rr"> <strong>Total Unidad: <%= re %></strong> </h5>



                     </div>
                   </td>
                 </tr>

               </table>

               <br>


               <h5 class="izquierda"><b></b></h>
                <br>



                <div class="mode">
                  <br><br>

                  <%= form_for([@ordenproduccion, @ordenproduccion.descripcioncortes.build]) do |f| %>


                  <div class="col-md-12">

                   <div class="col-md-4">
                    <div class="field">
                      <h5><b>COLOR</b></h5>
                      <%= f.collection_select :color_id, Color.all, :id, :colornombre,{prompt: "Seleccione Color"},{ class: "form-control"} %>
                    </div>
                  </div>

                  <div class="col-md-4">
                   <div class="field">
                     <h5><b>TALLA XS</b></h5>
                     <%= f.number_field :tallaxs , class:'form-control', :id => 'xs', :onblur => 'sum()'%>
                   </div>
                 </div>
                 <div class="col-md-4">
                  <div class="field">
                   <h5><b>TALLA S</b></h5>
                   <%= f.number_field :tallas , class:'form-control', :id => 's', :onblur => 'sum()'%>
                 </div>
               </div>






             </div>


             <div class="col-md-12">


               <div class="col-md-4">
                 <div class="field">
                   <h5><b>TALLA M</b></h5>
                   <%= f.number_field :tallam , class:'form-control',:id => 'm', :onblur => 'sum()'%>
                 </div>
               </div>



               <div class="col-md-4">
                <div class="field">
                 <h5><b>TALLA L</b></h5>
                 <%= f.number_field :tallal , class:'form-control', :id => 'l', :onblur => 'sum()'%>
               </div>
             </div>






             <div class="col-md-4">

               <div class="field">
                 <h5><b>TALLA XL</b></h5>
                 <%= f.number_field :tallaxl , class:'form-control' , :id => "xl", :onblur => 'sum()' %>
               </div>
             </div>

           </div>





           <div class="field invisi">

             <%= f.label :Tallasuma, class:''  %><br>
             <%= f.text_field :tallasuma , class:'form-control' , :id => "suma", :onblur => 'sum()' %>
           </div>




           <div class="col-md-12">
             <div class="col-md-6">

             </div> 

             <div class="col-md-3">
              <div class="actions">
                <%= f.submit "GUARDAR",class:'btn btn-succes questo tex2'%>
              </div>
            </div>

            <div class="col-md-6">

            </div>

          </div>


          <% end %>



        </div>


        <div class="panel-footer">
         <br>
         <strong>Centro de formaci칩n en dise침o, confecci칩n y Moda</strong> <br>
         <%= link_to "<i class='fa fa-print fa-4x'></i>".html_safe, ordenproduccion_path(@ordenproduccion, :format => 'pdf') %>   
         <%= link_to "<i class='fa fa-pencil fa-4x'></i>".html_safe, edit_ordenproduccion_path(@ordenproduccion) %> 
         <%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe, ordenproduccions_path %>
       </div>

     </div>




   </div>

   <div class="col-md-2"></div>
 </div>

</body>