

<body class="homepageesh footer_tuto1">
  



  <div class="col-md-12">
    <div class="col-md-2"></div>
    <div class="col-md-8">


      <div >
        <div class="panel panel-succes">
          <div class="panel-heading center">
            <h3 class="panel-title">
              <h2 class="center">Programacion de corte</h2></h3>
              <h4><strong>Ordennumero: </strong>
              000<%= @ordenproduccion.id %></h4>
            </div>
            <div class="panel-body">
              <div class="the-price">
                   <div class="center-block">
                    
                  <%= image_tag("senab.png")%>
                  </div>
                
              </div>
              <table class="table">
                <tr>
                  <td>
                    <div class="col-md-6">
                      <h5 class="izquierda"> <strong class="izquierda">Fecha: </strong><%= @ordenproduccion.fechaprogramacion %></h5>

                   </div>
                   <div class="col-md-6">
                    <h5 class="derecha"><strong>Cliente: </strong><%= @ordenproduccion.cliente.clientenombre %></h5>
                    
                  </div>
                  
                </td>
              </tr>


              <tr class="active">
                <td>

                 <div class="col-md-6">

                 <h5 class="izquierda"> <strong>Referencia: </strong><%= @ordenproduccion.referencia %></h5>
                </div>
                <div class="col-md-6">
                 <h5 class="derecha"><strong>Prenda: </strong>
                 <%= @ordenproduccion.prenda.prendanombre %></h5>
               </div>

             </td>
           </tr>
           <tr>
            <td>

              <div class="col-md-6">
               <h5 class="izquierda"><strong>Corte: </strong>
               <%= @ordenproduccion.corte.cortenombre %></h5>

             </div>
             <div class="col-md-6">
             <h5 class="derecha"> <strong>Ancho: </strong>
              <%= @ordenproduccion.ancho %></h5>

            </div>



          </td>
        </tr>
        <tr class="active">
          <td>
            <div class="col-md-6">
            <h5 class="izquierda"> <strong>Tela: </strong>
             <%= @ordenproduccion.tela.telanombre %></h5>
           </div>
           <div class="col-md-6">
           <h5 class="derecha"> <strong>Largo del Trazo: </strong>
            <%= @ordenproduccion.largotrazo %></h5>


          </div>





        </td>
      </tr>
      <tr>
        <td>

          <div class="col-md-6">
           <h5 class="izquierda"> <strong>Veces en el Trazo: </strong>
            <%= @ordenproduccion.vecestrazo %> </h5>
          </div>
          <div class="col-md-6">
           <h5 class="derecha"> <strong>Largo del Tendido: </strong>
            <%= @ordenproduccion.largotendido %>
</h5>
          </div>



        </td>
      </tr>
      <tr class="active">
        <td>

          <div class="col-md-6">

           <h5 class="izquierda"> <strong>Promedio: </strong>
            <%= @ordenproduccion.promedio %></h5>
          </div>
          <div class="col-md-6">
          <h5 class="derecha"> <strong>Cantidad: </strong>
           <%= @ordenproduccion.cantidad %></h5>
         </div>

       </td>
     </tr>
     <tr>
      <td>

        <div class="col-md-6">
         <h5 class="izquierda"> <strong>Responsable del Corte: </strong>
         <%= @ordenproduccion.responsablecorte %>  </h5>
       </div>
       <div class="col-md-6">
       <h5 class="derecha"> <strong>Capas: </strong>
        <%= @ordenproduccion.capas %></h5>
      </div>


    </td>
  </tr>

  <tr class="active">
    <td>

      <div class="col-md-6">
       <h5 class="izquierda"> <strong>Total Metros:</strong>
        <%= @ordenproduccion.totalmetros %></h5>
      </div>
      <div class="col-md-6">
        <h5 class="derecha"><strong>Tiqueteada: </strong>
        <%= @ordenproduccion.tiqueteada %></h5>

      </div>


    </td>
  </tr>
  <tr>
    <td>
     <div class="col-md-6"> <h5 class="izquierda"><strong>Descripcion: </strong>
      <%= @ordenproduccion.descripcion %></h5></div>

    </td>
  </tr>

</table>
</div>
<div class="panel-footer">
        
  <%= link_to "<i class='fa fa-pencil fa-4x'></i>".html_safe, edit_ordenproduccion_path(@ordenproduccion) %> 
  <%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe, ordenproduccions_path %>
</div>
</div>



</div>
<div class="col-md-2"></div>
</div>

</body>