<p id="notice"><%= notice %></p>

<p>
  <strong>Fechaprogramacion:</strong>
  <%= @ordenproduccion.fechaprogramacion %>
</p>

<p>
  <strong>Ordennumero:</strong>
  <%= @ordenproduccion.ordennumero %>
</p>

<p>
  <strong>Cliente:</strong>
  <%= @ordenproduccion.cliente.clientenombre %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @ordenproduccion.descripcion %>
</p>

<p>
  <strong>Referencia:</strong>
  <%= @ordenproduccion.referencia %>
</p>

<p>
  <strong>Corte:</strong>
  <%= @ordenproduccion.corte.cortenombre %>
</p>

<p>
  <strong>Ancho:</strong>
  <%= @ordenproduccion.ancho %>
</p>

<p>
  <strong>Tela:</strong>
  <%= @ordenproduccion.tela.telanombre %>
</p>

<p>
  <strong>Largotrazo:</strong>
  <%= @ordenproduccion.largotrazo %>
</p>
<p>
  <strong>Veces en el Trazo:</strong>
  <%= @ordenproduccion.vecestrazo %>
</p>

<p>
  <strong>Largotendido:</strong>
  <%= @ordenproduccion.largotendido %>
</p>

<p>
  <strong>Promedio:</strong>
  <%= @ordenproduccion.promedio %>
</p>

<p>
  <strong>Cantidad:</strong>
  <%= @ordenproduccion.cantidad %>
</p>

<p>
  <strong>Responsable Corte:</strong>
  <%= @ordenproduccion.responsablecorte %>
</p>
<p>
  <strong>Capas:</strong>
  <%= @ordenproduccion.capas %>
</p>
<p>
  <strong>Totalmetros:</strong>
  <%= @ordenproduccion.totalmetros %>
</p>


<p>
  <strong>Tiqueteada:</strong>
  <%= @ordenproduccion.tiqueteada %>
</p>

<p>
  <strong>Prenda:</strong>
  <%= @ordenproduccion.prenda.prendanombre %>
</p>

<%= link_to "<i class='fa fa-pencil fa-2x'></i>".html_safe, edit_ordenproduccion_path(@ordenproduccion) %> |
<%= link_to "<i class='fa fa-arrow-circle-left fa-2x'></i>".html_safe, ordenproduccions_path %>
