<h1>Listing cortes</h1>

<table>
  <thead>
    <tr>
      <th>Cortenombre</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cortes.each do |corte| %>
      <tr>
        <td><%= corte.cortenombre %></td>
        <td><%= link_to 'Show', corte %></td>
        <td><%= link_to 'Edit', edit_corte_path(corte) %></td>
        <td><%= link_to 'Destroy', corte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Corte', new_corte_path %>
