<%= form_for(@prenda) do |f| %>
  <% if @prenda.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prenda.errors.count, "error") %> prohibited this prenda from being saved:</h2>

      <ul>
      <% @prenda.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prenda %><br>
    <%= f.text_field :prenda %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
