<%= form_for [@cuadroproduccion, @instructor], :html => { :class => 'form-horizontal' } do |f| %>

  <% if @instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instructor.errors.count, "error") %> prohibited this instructor from being saved:</h2>

      <ul>
      <% @instructor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="col-md-12">
  
 

  <div class="col-md-4">
      
      
  <div class="field">
     <%= f.label :Nombre %><br>
    <%= f.collection_select :nombre_id, Nombre.all, :id, :nombreinstructor,{prompt: "Instructor"}, {class: "form-control"}  %>
</div>

    </div>
    
    <div class="col-md-4">
      <div class="field">
    <%= f.label :fecha_salida_del_almacen %><br>
    <%= f.text_field :fechasalidaalmacen, class: 'datepicker form-control', :id => 'salida', :onblur => 'fecha()' %>
  </div>
    </div>



    <div class="col-md-4">
        
  
      
    </div>
    
    <div class="col-md-4">
      
  
  <div class="field">
    <%= f.label :cantidad %><br>
    <%= f.number_field :cantidad, class:'form-control' %>
  </div>
      
    </div>
 

    <div class="col-md-4">
      
      

  <div class="field">
    <%= f.label :Talla_Unidad %><br>
    <%= f.text_field :tallaunidad, class:'form-control' %>
  </div>
    </div>
    
    <div class="col-md-4">
      
  
  <div class="field">
    <%= f.label :primeras %><br>
    <%= f.number_field :primeras, class:'form-control', :id => 'pri', :onblur => 'pro()'  %>
  </div>
      
    </div>
    
    
    <div class="col-md-4">
      
      <div class="field">
    <%= f.label :segundas %><br>
    <%= f.number_field :segundas, class:'form-control', :id => 'seg', :onblur => 'pro()' %>
  </div>
    </div>
    
    <div class="col-md-4">
      <div class="field">
    <%= f.label :fecha_de_recibo %><br>
    <%= f.text_field :fecharecibo, class: 'datepicker form-control', :id => 'recibo', :onblur => 'fecha()' %>
  </div>
        
    </div>
 
  
</div>


<div class="col-md-12">
  
  <div class="col-md-4"></div>
  <div class="col-md-4">
    
<div class="field  invisi ">
     
         <%= f.label :observacionescalidad  %><br>
        <%= f.text_field :observacionescalidad , class:'form-control ' , :id => "suma" %>
      </div>

  </div>
  <div class="field invisi  ">
     
         <%= f.label :totalrecibidas  %><br>
        <%= f.text_field :totalrecibidas , class:'form-control ' , :id => "total" %>
      </div>

      <div class="field invisi  ">
     
         <%= f.label :duracion  %><br>
        <%= f.text_field :duracion , class:'form-control ' , :id => "totaldu", :onblur => 'fecha()' %>
      </div

 

  <div class="col-md-4">
     <hr>
  <div class="actions">
    <%= f.submit "Guardar",class:'btn btn-default btn-lg btn-block'%>
  </div>
  </div>


  
</div>
<% end %>




<script>
    
    function pro(){
        
        var primer = document.getElementById('pri').value;
        var segun = document.getElementById('seg').value;
      
        tota= (parseInt(primer) +parseInt(segun) );
        prome =  (parseInt(primer) * 100);
        prome =  prome/tota;
     
        document.getElementById('total').value = tota;
        document.getElementById('suma').value = prome;
        
}

    function fecha(){
        var reci = document.getElementById('recibo').value;
        var sali = document.getElementById('salida').value;

        duracio = (parseFloat(reci) - parseFloat(sali) );
        document.getElementById('totaldu').value = duracio;

}

    

</script>

 