<body class="aguja">
  <%= form_for [@cuadroproduccion, @instructor], :html => { :class => 'form-horizontal' } do |f| %>

  <% if @instructor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@instructor.errors.count, "error") %> prohibited this instructor from being saved:</h2>

      <ul>
      <% @instructor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="col-md-12">
  
 

  <div class="col-md-4">
      
      
  <div class="field">
     <h5><b>NOMBRE</b></h5>
    <%= f.collection_select :nombre_id, Nombre.all, :id, :nombreinstructor,{prompt: "Instructor"}, {class: "form-control"}  %>
</div>

    </div>
    
    <div class="col-md-4">
      <div class="field">
    <h5><b>FECHA SALIDA DEL ALMACEN</b></h5>
    <%= f.text_field :fechasalidaalmacen, class: 'datepicker form-control', :id => 'salida', :onblur => 'fecha()' %>
  </div>
    </div>



    <div class="col-md-4">
        
  
      
    </div>
    
    <div class="col-md-4">
      
  
  <div class="field">
    <h5><b>CANTIDAD</b></h5>
    <%= f.number_field :cantidad, class:'form-control' %>
  </div>
      
    </div>
 

    <div class="col-md-4">
      
      
  <div class="field">
     <h5><b>TALLA</b></h5>
     <%= f.collection_select :talla_id, Talla.all, :id, :nombre,{prompt: "Talla"}, {class: "form-control"}  %>
</div>

    </div>
    
    <div class="col-md-4">
      
  
  <div class="field">
    <h5><b>PRIMERAS</b></h5>
    <%= f.number_field :primeras, class:'form-control', :id => 'pri', :onblur => 'pro()'  %>
  </div>
      
    </div>
    
    
    <div class="col-md-4">
      
      <div class="field">
   <h5><b>SEGUNDAS</b></h5>
    <%= f.number_field :segundas, class:'form-control', :id => 'seg', :onblur => 'pro()' %>
  </div>
    </div>
    
    <div class="col-md-4">
      <div class="field">
    <h5><b>FECHA DE RECIBO</b></h5>
    <%= f.text_field :fecharecibo, class: 'datepicker form-control', :id => 'recibo', :onblur => 'fecha()' %>
  </div>
        
    </div>
 
  
</div>


<div class="col-md-12">
  
  <div class="col-md-4"></div>
  <div class="col-md-4">
    
<div class="field  invisi ">
     
         <%= f.label :observacionescalidad  %><br>
        <%= f.text_field :observacionescalidad , class:'form-control ' , :id => "suma" %>
      </div>

  </div>
  <div class="field invisi  ">
     
         <%= f.label :totalrecibidas  %><br>
        <%= f.text_field :totalrecibidas , class:'form-control ' , :id => "total" %>
      </div>

      <div class="field invisi  ">
     
         <%= f.label :duracion  %><br>
        <%= f.text_field :duracion , class:'form-control ' , :id => "totaldu", :onblur => 'fecha()' %>
      </div

 

  <div class="col-md-4">
     <hr>
  <div class="actions">
    <%= f.submit "GUARDAR",class:'btn btn-succes questo tex1'%>
  </div>
  </div>


  
</div>
<% end %>





 
</body>