<h1>Listing instructores</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Imagen</th>
      <th>Fecharecibo</th>
      <th>Cantidad</th>
      <th>Tallaunidad</th>
      <th>Primeras</th>
      <th>Segundas</th>
      <th>Totalrecibidas</th>
      <th>Observacionescalidad</th>
      <th>Fechasalidaalmacen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @instructores.each do |instructor| %>
      <tr>
        <td><%= instructor.nombre %></td>
        <td><%= image_tag instructor.imagen.url(:thumb)%></td>
        <td><%= instructor.fecharecibo %></td>
        <td><%= instructor.cantidad %></td>
        <td><%= instructor.tallaunidad %></td>
        <td><%= instructor.primeras %></td>
        <td><%= instructor.segundas %></td>
        <td><%= instructor.totalrecibidas %></td>
        <td><%= instructor.observacionescalidad %></td>
        <td><%= instructor.fechasalidaalmacen %></td>
        <td><%= link_to 'Show', instructor %></td>
        <td><%= link_to 'Edit', edit_instructor_path(instructor) %></td>
        <td><%= link_to 'Destroy', instructor, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instructor', new_instructor_path %>
