<body class="estadisti estadisticas">
  <br>

  <h4 class="derecho"><span class="badge option animated wobble"> <%= @instructores.count %> </span></h4 >
    <br>
    <br>




    <h1 class="center blanco"> Centro de Formación en Diseño, Confección y Moda </h1>



    <h2 class="center blanco"> Promedio General de Instructores </h2>

<br><br>

    <div class="prome">
      
      <div class="col-md-12">
        
        <div class="col-md-6">
          



          <div class="table-responsive1 cubo">
            <table class="table table-condensed table-hover">
              <thead>
               <br><br>
               <tr class="active">
                <th class="invisi">Id Instructor</th>
                
                <th>Instructor</th>
                <th></th>
                <th>Calidad</th>
              </tr>
            </thead>

            <tbody>
              
             
              <% @instructores.each do |x, y| %>
              
              <tr>
               
                <% nombre = Nombre.find(x) %>
                <td class="invisi"><%= x %></td>
                
                <td><h3><b><%= nombre.nombreinstructor %></b></h3></td>
                <td><%= image_tag nombre.avatar.url(:thumb), class:'img-circle' %></td>
                <td><h3><%= y.to_i %> %</h3></td>
                
                

              </tr>
              
              <% end %>
              
            </tbody>
          </table>
        </div>

      </div>
      
      <div class="col-md-3">
        
        

        <div class="table-responsive1 cubo">
          <table class="table table-condensed table-hover">
            <thead>
              <br><br>
              <tr class="active">
                <th class="invisi">Id Instructor</th>
                
                
                <th>Promedio Entrega</th>
              </tr>
            </thead>

            <tbody>
              
             
              <% @instructoresdura.each do |x, y| %>
              
              <tr>
               
                <% nombre = Nombre.find(x) %>
                <td class="invisi"><%= x %></td>
                
                
                <td><h3><%= y.to_i %> Días</h3></td>
                
              </tr>
              
              <% end %>
              
            </tbody>
          </table>
        </div>

      </div>
      
      <div class="col-md-3">
        <div class="table-responsive1 cubo">
          <table class="table table-condensed table-hover">
            <thead>
             <br><br>
             <tr class="active">
              <th class="invisi">Id Instructor</th>
              
              
              <th>Total </th>
            </tr>
          </thead>

          <tbody>
            
           
            <% @instructorestotal.each do |x, y| %>
            
            <tr>
             
              <% nombre = Nombre.find(x) %>
              <td class="invisi"><%= x %></td>
              
              
              <td><h3><%= y.to_i %> Entregas</h3> </td>

            </tr>
            
            <% end %>
            
          </tbody>
        </table>
      </div>
    </div>
    
  </div>











</div>


</body>






<br><br>

<a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
  Total de ordenes
</a>

<div class="collapse" id="collapseExample">
  <div class="well1">
    
    


<div class="table-responsive1 cubo">
          <table class="table table-condensed table-hover">
            <thead>
             <br><br>
             <tr class="active">
              <th>Numero de Orden </th>
              <th>Nombre Instructor </th>
              <th></th>
              <th>Primeras</th>
              <th>Segundas</th>
              <th>Fecha Salida</th>
              <th>Fecha Entrega</th>
              <th>Calidad</th>
              <th>Duración</th>
              <th>Total</th>
            </tr>
          </thead>

          <tbody>
            
           
            <% @instructores1.each do |instructor|%>
            
            <tr>
             
              <td>000<%= instructor.cuadroproduccion.descripcioncorte.ordenproduccion.id %></td>
              <td><%= instructor.nombre.nombreinstructor %></td>
              <td><%= image_tag instructor.nombre.avatar.url(:thumb), class:'img-circle' %></td>
              <td><%= instructor.primeras %> Recibidas</td>
              <td><%= instructor.segundas %> Recibidas</td>
              <td><%= instructor.fecharecibo %></td>
              <td><%= instructor.fechasalidaalmacen %></td>
              <td><%= instructor.observacionescalidad %> %</td>
              <td><%= instructor.duracion %> Días</td>
              <td><%= instructor.totalrecibidas %></td>
              
             

            </tr>
            
            <% end %>
            
          </tbody>
        </table>
      </div>
  </div>
</div>






