<body class="homepage estadisticas">
  <br>

<h4 class="derecho"><span class="badge option animated wobble"> <%= @instructores.count %> </span></h4 >
<br>
<br>



<br>



<br>




<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingOne">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         <h4 class="center"> Calidad  General <br>    <i class="fa fa-bar-chart fa-2x"></i></h4>
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
      <div class="panel-body">

      <div class="table-responsive cubo">
  <table class="table table-condensed table-hover">
  <thead>
    <tr class="active">
      <th class="invisi">Id Instructor</th>
    
      <th>Instructor</th>
      <th>Imagen</th>
      <th>Promedio General Calidad</th>
    </tr>
  </thead>

  <tbody>
    
   
    <% @instructores.each do |x, y| %>
     
      <tr>
     
        <% nombre = Nombre.find(x) %>
        <td class="invisi"><%= x %></td>
        
        <td><%= nombre.nombreinstructor %></td>
        <td><%= image_tag nombre.avatar.url(:thumb) %></td>
        <td><%= y.to_i %> %</td>

      </tr>
     
    <% end %>
    
  </tbody>
</table>
</div>


      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingTwo">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          <h4 class="center">Promedio Días de Entregas <br>   <i class="fa fa-barcode fa-2x"></i></h4>
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
      <div class="panel-body">

      <div class="table-responsive cubo">
  <table class="table table-condensed table-hover">
  <thead>
    <tr class="active">
      <th class="invisi">Id Instructor</th>
    
      <th>Instructor</th>
      <th>Imagen</th>
      <th>Promedio Días de Entrega</th>
    </tr>
  </thead>

  <tbody>
    
   
    <% @instructoresdura.each do |x, y| %>
     
      <tr>
     
        <% nombre = Nombre.find(x) %>
        <td class="invisi"><%= x %></td>
        
        <td><%= nombre.nombreinstructor %></td>
        <td><%= image_tag nombre.avatar.url(:thumb) %></td>
        <td><%= y.to_i %> Días</td>

      </tr>
     
    <% end %>
    
  </tbody>
</table>
</div>

      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" role="tab" id="headingThree">
      <h4 class="panel-title">
        <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <h4 class="center">Total Entregas <br>   <i class="fa fa-bars fa-2x"></i></h4>
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
      <div class="panel-body">

<div class="table-responsive cubo">
  <table class="table table-condensed table-hover">
  <thead>
    <tr class="active">
      <th class="invisi">Id Instructor</th>
    
      <th>Instructor</th>
      <th>Imagen</th>
      <th>Total Entregas</th>
    </tr>
  </thead>

  <tbody>
    
   
    <% @instructorestotal.each do |x, y| %>
     
      <tr>
     
        <% nombre = Nombre.find(x) %>
        <td class="invisi"><%= x %></td>
        
        <td><%= nombre.nombreinstructor %></td>
        <td><%= image_tag nombre.avatar.url(:thumb) %></td>
        <td><%= y.to_i %> Entregas</td>

      </tr>
     
    <% end %>
    
  </tbody>
</table>
</div>

      </div>
    </div>
  </div>
</div>

</body>