<body class="homepageesh">



  <br>


  <div class="container perfil" style="margin-top: 20px; margin-bottom: 20px;">
    <div class="row panel" id="mydiv">
      <div class="col-md-4 bg_blur ">
      </div>
      <div class="col-md-8  col-xs-12">
        <%= image_tag @instructor.nombre.avatar.url(:medium),:class => 'img-thumbnail picture hidden-xs' %>
        <div class="header">

          <div class="col-md-12">

            <div class="col-md-8">
              <h3 class="nombrein"> Instructor <strong><%= @instructor.nombre.nombreinstructor %></strong></h3>
            </div>
            <div class="col-md-4">
              <h3>

                <% if   %>
                <% @instructor.observacionescalidad.to_i > 90 %>
                <i class="fa fa-smile-o fa-3x option animated wobble"></i>
                <% elsif %>
                <% @instructor.observacionescalidad.to_i >= 70 && @instructor.observacionescalidad.to_i <= 89  %>
                <i class="fa fa-frown-o fa-3x option animated wobble"></i>
                <% elsif %>
                <% @instructor.observacionescalidad.to_i <= 69 %>
                <i class="fa fa-exclamation-triangle fa-3x option animated wobble "></i>

                <% end %>
              </h3>
            </div>
          </div>


          <div class="col-md-12">
 <%  @instructor.duracion = @instructor.fecharecibo - @instructor.fechasalidaalmacen %>
      

            <div class="col-md-6">
              <h4 class="izquierda"> <strong>Talla Unidad: </strong><%= @instructor.tallaunidad %>   </h4></div>
              <div class="col-md-6">
                <h4 class="derecha"> <strong>Cantidad: </strong><%= @instructor.cantidad %></h4>
              </div>
            </div>

            <div class="col-md-12">
              <div class="col-md-6">  <h4 class="izquierda"> <strong>Primeras: </strong><%= @instructor.primeras %> </h4>
              </div>
              <div class="col-md-6">  <h4 class="derecha"><strong>Segundas: </strong><%= @instructor.segundas %>
               </h4>
              </div>


            </div>

            <div class="col-md-12">
              <div class="col-md-6">  <h4 class="izquierda tota"> <strong>Total Recibidas: </strong> <%= @instructor.totalrecibidas %></h4>
              </div>
              <div class="col-md-6">                  <h4 class="derecha"></h4>
              </div>


            </div>
            <div class="col-md-12">
              <div class="col-md-6">  <h4 class="izquierda resultado"> <strong>Calidad: </strong><%= @instructor.observacionescalidad %> %</h4>
              </div>
              <div class="col-md-6">  <h4 class="derecha resultado"> <strong>Tiempo de Entrega: </strong><%= @instructor.duracion %> Dias </h4>
              </div>
             


            </div>
             

            <a  >
             <i class="fa fa-chevron-down fa-4x animated" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></i>
           </a>

           <div class="collapse" id="collapseExample">
            <div class="">
              <div class="col-md-12" >

                <% @descripcioncortes.each do |descripcioncorte| %>
                <% if descripcioncorte.ordenproduccion.id == @instructor.cuadroproduccion.descripcioncorte.ordenproduccion.id %>

                <div class="col-md-6"><h5 class="izquierda"> <strong>Color: </strong><%= descripcioncorte.color.colornombre %></h5>
                </div>
                <div class="col-md-6"><h5 class="derecha"> <strong>Cantidad: </strong> <%= descripcioncorte.tallasuma %></h5>
                </div>



                <% end %>


                <% end %>


              </div>
            </div>
          </div>








        </div>
      </div>
    </div>   

    <br>

    <div class="row nav">    
      <div class="col-md-4"></div>
      <div class="col-md-12 col-xs-12" style="margin: 0px;padding: 0px;">
        <div class="col-md-6 col-xs-6 well"><%= link_to "<i class='fa fa-pencil fa-4x'></i>".html_safe, edit_cuadroproduccion_instructor_path(@cuadroproduccion,@instructor) %></div>
        <div class="col-md-6 col-xs-6 well"><%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe, cuadroproduccion_instructores_path %></div>
      </div>
    </div>
  </div>


  <input type="button" value="Print Div" onclick="PrintElem('#mydiv')" />


</body>



<script>
function PrintElem(elem)
{
  Popup($(elem).html());
}

function Popup(data) 
{
  var mywindow = window.open('', 'my div', 'height=400,width=600');
  mywindow.document.write('<html><head><title><%=@instructor.nombre.nombreinstructor%></title>');
        /*optional stylesheet*/ //mywindow.document.write('<link rel="stylesheet" href="main.css" type="text/css" />');
        mywindow.document.write('</head><body >');
        mywindow.document.write(data);
        mywindow.document.write('</body></html>');

        mywindow.document.close(); // necessary for IE >= 10
        mywindow.focus(); // necessary for IE >= 10

        mywindow.print();
        mywindow.close();

        return true;
      }
      </script>