<body class="homepageesh estadisticas">
<% if Instructor.first == nil %>
<h1>No hay valores</h1>

<h1>CONTROL PRODUCCIÓN</h1>

<h1>CENTRO DE FORMACIÓN EN DISEÑO, CONFECCIÓN Y MODA</h1>

<% elsif %>

  
   <br>
<div class="genera1">
  <br>

    <h2 class="center1">PROMEDIO GENERAL DE INSTRUCTORES </h2>
    <div class="center-block">
                    
                  <%= image_tag("senab.png")%>
                  </div>
                  <br>
</div>
 <div class="">
   <h4 class="derecho"><span class="badge option animated wobble"> <%= @instructores.count %> </span></h4 >
<br>

    <div class="prome">
      
      <div class="col-md-12">
        
        <div class="col-md-6">
          
<% suma = 0  %>
<% dia = 0%>
<% re = 0%>
<% re2 = 0%>
          <div class="table-responsive1 cubo">
            <table class="table table-condensed ">
              <thead>
               <br>
               <tr class="barra">
                <th class="invisi">Id Instructor</th>
                
                <th><h3><b>Instructor</b></h3></th>
                <th></th>
                <th><h3><b>Calidad</b></h3></th>
              </tr>
            </thead>

            <tbody>
              
             
              <% @instructores.each do |x, y| %>
              
              <tr>
               
                <% nombre = Nombre.find(x) %>
                <td class="invisi"><%= x %></td>
                
                <td><h3><b><%= nombre.nombreinstructor %></b></h3></td>
                <td><%= image_tag nombre.avatar.url(:thumb), class:'img-circle' %></td>
                
                
                 <% if y.to_i > 90 %>
                      <td><h3><%= y.to_i %> % <i class="fa fa-smile-o option animated wobble"></i></h3></td>
                  <% elsif y.to_i >= 70 && y.to_i < 90 %>
                      <td><h3><%= y.to_i %> % <i class="fa fa-frown-o"></i></h3></td>
                  <% elsif y.to_i < 70 %>
                      <td><h3><%= y.to_i %> % <i class="fa fa-exclamation-triangle"></i></h3></td>
                <% end %>
                <% re2 +=1 %>
              <% re = re + calidad( y, re2 ) %>  

              </tr>
              
              <% end %>
              
            </tbody>
          </table>
        </div>

      </div>
      
     
      
      
      
      <div class="col-md-3">
        
        

        <div class="table-responsive1 cubo">
          <table class="table table-condensed">
            <thead>
              <br>
              <tr class="barra">
                <th class="invisi">Id Instructor</th>
                
                
                <th><h3><b>Promedio Entrega</b></h3></th>
              </tr>
            </thead>

            <tbody>
              
             
              <% @instructoresdura.each do |x, y| %>
              
              <tr>
               
                <% nombre = Nombre.find(x) %>
                <td class="invisi"><%= x %></td>
                
                 <% if y.to_i <=0 %>
                 <td>La fecha de salida no puede ser mayor a fecha de entrada </td>
                 <% elsif y.to_i == 1 %>
                  <td><h3><%= y.to_i %> Día</h3></td>
                  <% elsif y.to_i >1 %>
                  <td><h3><%= y.to_i %> Días</h3></td>
                <% end %>
              </tr>
              
              
              <% dia = dia + prom(y, re2) %>
              <% end %>
              
            </tbody>
          </table>
        </div>

      </div>
      
      <div class="col-md-3">
        <div class="table-responsive1 cubo">
          <table class="table table-condensed">
            <thead>
             <br>
             <tr class="barra">
              <th class="invisi">Id Instructor</th>
              
              
              <th><h3><b>Total</b></h3></th>
            </tr>
          </thead>

          <tbody>
            
           
            <% @instructorestotal.each do |x, y| %>
            
            <tr>
             
              <% nombre = Nombre.find(x) %>
              <td class="invisi"><%= x %></td>
              
              
              <td><h3><%= y.to_i %> Entregas</h3> </td>

            </tr>
              <% suma = suma+ sum(y,re2) %>
            <% end %>
            
          </tbody>
        </table>
      </div>
    </div>
  
    
  </div>











</div>
<br>
</div>
<br>

<div class="col-md-12">
  <div class="">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <div class="">
    
     <h3 class="blanco barra bar">Promedio General de la Poducción: <b class="barra1"><%= re.to_i / re2.to_i %> </b> %</h3>
     <h3 class="blanco barra bar">Promedio General días de Entregas en : <b class="barra1"><%= dia.to_i / re2.to_i %> </b> </h3>
     <h3 class="blanco barra bar">Total de Entregas: <b class="barra1"><%= suma %><b/></h3>

    </div> 

  </div>
  <div class="col-md-2"></div>
  </div>
</div>

<br>
<br>
<br>
<br>
<br><br>
<br><br>

<div class="">



<div class="genera1">
  <h2 class="center1">Ver todas las Ordenes asociadas a los diferentes Instructores</h2>
           <a>
             <i class="fa fa-chevron-down fa-4x animated rubberBand" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></i>
           </a>
</div>
<br><br>
<h4 class="derecho"><span class="badge option animated wobble"> <%= @instructores1.count %> </span></h4 >

           <div class="collapse" id="collapseExample">
            <div class="">
              
              
 
              
             
              

<div class="prome1 otro ">
  
  <br>
  <div class="">
  <div class="table-responsive1 cubo">
          <table class="table table-condensed">
            <thead>
             <br><br>
             <tr class="barra">
              <th><h4><b>Orden</b></h4></th>
              <th><h4><b>Instructor</b></h4></th>
              <th></th>
              <th><h4><b>Primeras</b></h4></th>
              <th><h4><b>Segundas</b></h4></th>
              
              <th><h4><b>Fecha Salida</b></h4></th>
              <th><h4><b>Fecha Entrega</b></h4></th>
              <th><h4><b>Calidad</b></h4></th>
              <th><h4><b>Duración</b></h4></th>
              <th><h4><b>Total</b></h4></th>
            </tr>
          </thead>

          <tbody>
            
           
            <% @instructores1.each do |instructor|%>
            
            <tr>
             
           
                <td><h4><b>000<%= instructor.cuadroproduccion.descripcioncorte.ordenproduccion.id %></b></h4></td>
                <td><h4><%= instructor.nombre.nombreinstructor %></h4></td>
                <td><%= image_tag instructor.nombre.avatar.url(:thumb), class:'img-circle' %></td>
                
                <% if instructor.primeras > instructor.segundas %>
                
                 <td><h4><b><%= instructor.primeras %></b></h4></td>
                 <td><h4><%= instructor.segundas %></h4></td>
                <% else %>
                
                <td><h4><%= instructor.primeras %></h4></td>
                <td><h4><b><%= instructor.segundas %></b></h4></td>
                
                <% end %>
                
                <td><h4><%= instructor.fecharecibo %></h4></td>
                <td><h4><%= instructor.fechasalidaalmacen %></h4></td>
                
                
               
                <td><h4><b><%= instructor.observacionescalidad %> %</b></h4></td>
                
                <td><h4><b><%= instructor.duracion %> Días</b></h4></td>
                <td><h4><b><%= instructor.totalrecibidas %> Recibidas</b></h4></td>
              
           

            </tr>
            
            <% end %>
            
          </tbody>
        </table>
      </div>
            
</div>  
              </div>
              <br>
            </div>
          </div>

</div>


<% end %>


</body>


