<body class="estadisti estadisticas">
  <br>

  <h4 class="derecho"><span class="badge option animated wobble"> <%= @instructores.count %> </span></h4 >
    <br>
    <br>




    <h1 class="center blanco"> Centro de Formación en Diseño, Confección y Moda </h1>



    <h2 class="center blanco"> Promedio General de Instructores </h2>

<br><br>

    <div class="prome">
      
      <div class="col-md-12">
        
        <div class="col-md-6">
          



          <div class="table-responsive1 cubo">
            <table class="table table-condensed table-hover">
              <thead>
               <br><br>
               <tr class="active">
                <th class="invisi">Id Instructor</th>
                
                <th><h3><b>Instructor</b></h3></th>
                <th></th>
                <th><h3><b>Calidad</b></h3></th>
              </tr>
            </thead>

            <tbody>
              
             
              <% @instructores.each do |x, y| %>
              
              <tr>
               
                <% nombre = Nombre.find(x) %>
                <td class="invisi"><%= x %></td>
                
                <td><h3><b><%= nombre.nombreinstructor %></b></h3></td>
                <td><%= image_tag nombre.avatar.url(:thumb), class:'img-circle' %></td>
                
                
                 <% if y.to_i > 90 %>
                      <td><h3><%= y.to_i %> % <i class="fa fa-smile-o option animated wobble"></i></h3></td>
                  <% elsif y.to_i >= 70 && y.to_i < 90 %>
                      <td><h3><%= y.to_i %> % <i class="fa fa-frown-o"></i></h3></td>
                  <% elsif y.to_i < 70 %>
                      <td><h3><%= y.to_i %> % <i class="fa fa-exclamation-triangle"></i></h3></td>
                <% end %>
                
                

              </tr>
              
              <% end %>
              
            </tbody>
          </table>
        </div>

      </div>
      
      <div class="col-md-3">
        
        

        <div class="table-responsive1 cubo">
          <table class="table table-condensed table-hover">
            <thead>
              <br><br>
              <tr class="active">
                <th class="invisi">Id Instructor</th>
                
                
                <th><h3><b>Promedio Entrega</b></h3></th>
              </tr>
            </thead>

            <tbody>
              
             
              <% @instructoresdura.each do |x, y| %>
              
              <tr>
               
                <% nombre = Nombre.find(x) %>
                <td class="invisi"><%= x %></td>
                
                 <% if y.to_i == 1 %>
                  <td><h3><%= y.to_i %> Día</h3></td>
                  <% elsif y.to_i >1 %>
                  <td><h3><%= y.to_i %> Días</h3></td>
                <% end %>
              </tr>
              
              <% end %>
              
            </tbody>
          </table>
        </div>

      </div>
      
      <div class="col-md-3">
        <div class="table-responsive1 cubo">
          <table class="table table-condensed table-hover">
            <thead>
             <br><br>
             <tr class="active">
              <th class="invisi">Id Instructor</th>
              
              
              <th><h3><b>Total</b></h3></th>
            </tr>
          </thead>

          <tbody>
            
           
            <% @instructorestotal.each do |x, y| %>
            
            <tr>
             
              <% nombre = Nombre.find(x) %>
              <td class="invisi"><%= x %></td>
              
              
              <td><h3><%= y.to_i %> Entregas</h3> </td>

            </tr>
            
            <% end %>
            
          </tbody>
        </table>
      </div>
    </div>
    
  </div>











</div>


</body>



<br>
<br>
<br>







<h2 class="blanco">Ver todas las Ordenes asociadas a los diferentes Instructores</h2>
           <a>
             <i class="fa fa-chevron-down fa-4x animated rubberBand" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample"></i>
           </a>

           <div class="collapse" id="collapseExample">
            <div class="">
              
              
 <h4 class="derecho"><span class="badge option animated wobble"> <%= @instructores1.count %> </span></h4 >
              
              <br><br>
              

<div class="prome">
  <div class="table-responsive1 cubo">
          <table class="table table-condensed table-hover">
            <thead>
             <br><br>
             <tr class="active">
              <th>Orden</th>
              <th>Instructor</th>
              <th></th>
              <th>Primeras</th>
              <th>Segundas</th>
              <th>Fecha Salida</th>
              <th>Fecha Entrega</th>
              <th>Calidad</th>
              <th>Duración</th>
              <th>Total</th>
            </tr>
          </thead>

          <tbody>
            
           
            <% @instructores1.each do |instructor|%>
            
            <tr>
             
              
             
              <td><b>000<%= instructor.cuadroproduccion.descripcioncorte.ordenproduccion.id %></b></td>
              <td><%= instructor.nombre.nombreinstructor %></td>
              <td><%= image_tag instructor.nombre.avatar.url(:thumb), class:'img-circle' %></td>
              
              <% if instructor.primeras > instructor.segundas %>
              
               <td><b><%= instructor.primeras %></b></td>
               <td><%= instructor.segundas %></td>
              <% else %>
              
              <td><%= instructor.primeras %></td>
              <td><b><%= instructor.segundas %></b></td>
              
              <% end %>
              
              <td><%= instructor.fecharecibo %></td>
              <td><%= instructor.fechasalidaalmacen %></td>
              
              
             
              <td><b><%= instructor.observacionescalidad %> %</b></td>
              
              <td><b><%= instructor.duracion %> Días</b></td>
              <td><b><%= instructor.totalrecibidas %> Recibidas</b></td>
              
         

            </tr>
            
            <% end %>
            
          </tbody>
        </table>
      </div>
            
</div>  
              
            </div>
          </div>

