<%= form_for [@ordenproduccion,@descripcioncorte], :html => { :class => 'form-horizontal' } do |f| %>
<% if @descripcioncorte.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@descripcioncorte.errors.count, "error") %> prohibited this descripcioncorte from being saved:</h2>

  <ul>
    <% @descripcioncorte.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>


<div class="col-md-12">
    
 <div class="col-md-4">
    <div class="field">
      <%= f.label :Color, class:''  %><br>
      <%= f.collection_select :color_id, Color.all, :id, :colornombre,{prompt: "Seleccione Color"},{ class: "form-control"} %>
    </div>
  </div>
  
  <div class="col-md-4">
    <div class="field">
     <%= f.label :Talla_S, class:''  %><br>
     <%= f.number_field :tallas , class:'form-control', :id => 's', :onblur => 'sum()'%>
   </div>
 </div>

 <div class="col-md-4">
   <div class="field">
     <%= f.label :Talla_M, class:''  %><br>
     <%= f.number_field :tallam , class:'form-control',:id => 'm', :onblur => 'sum()'%>
   </div>
 </div>




</div>


<div class="col-md-12">

     <div class="col-md-4">
      <div class="field">
       <%= f.label :Talla_L, class:''  %><br>
       <%= f.number_field :tallal , class:'form-control', :id => 'l', :onblur => 'sum()'%>
     </div>
    </div>
    
    <div class="col-md-4">
       <div class="field">
         <%= f.label :Talla_Xs, class:''  %><br>
         <%= f.number_field :tallaxs , class:'form-control', :id => 'xs', :onblur => 'sum()'%>
       </div>
    </div>

  <div class="col-md-4">

   <div class="field">
     <%= f.label :Talla_XL, class:''  %><br>
     <%= f.number_field :tallaxl , class:'form-control' , :id => "xl", :onblur => 'sum()' %>
   </div>
 </div>

</div>





<div class="field invisi">

 <%= f.label :Tallasuma, class:''  %><br>
 <%= f.text_field :tallasuma , class:'form-control' , :id => "suma", :onblur => 'sum()' %>
</div>




<div class="col-md-12">
 <div class="col-md-2">

 </div> 

 <div class="col-md-8">
  <div class="actions">
    <%= f.submit "Guardar",class:'btn btn-default btn-lg btn-block'%>
  </div>
</div>

<div class="col-md-4">

</div>

</div>






<% end %>

