
<body class="handfondo fondo_desc">
  <br><br>
  <h4 class="derecho"><span class="badge option animated wobble"> <%= @descripcioncortes.count %> </span></h4 >
  <br>
  <h1 class="center">DESCRIPCIÓN DEL CORTE</h1>
<br>


<div class="table-reponsive tbla">
  
<table class="table table-condensed table-hover tbla">
  <thead>
    <tr class="active">
      <th>Numero Orden</th>
      <th>Color</th>
      <th>Capas</th>
      
      
      <th>Veces trazo</th>
      <th>Total Capas</th>
      
      <th colspan="4"></th>
    </tr>
  </thead>
  

<% re = 0
c = 0 %>
  <tbody>
    <% @descripcioncortes.each do |descripcioncorte| %>
      <tr>
        <td class="minus"><h3><b>000<%= descripcioncorte.ordenproduccion.id %></b></h3></td>
        <td class="minus"><h3><%= descripcioncorte.color.colornombre  rescue nil%></h3></td>
        <td class="minus"><h3><%= descripcioncorte.ordenproduccion.capas %></h3></td>
       
       
        <td class="minus"><h3><%= descripcioncorte.ordenproduccion.vecestrazo %></h3></td>
        <td class="minus"><h3><%= descripcioncorte.tallasuma %></h3></td>
        
        <% c+=1
        if c == 1
        %>
        <td><%= link_to "<i class='fa fa-check-circle-o fa-4x ojos questo1'></i>".html_safe, descripcioncorte_cuadroproduccions_path(descripcioncorte) %></td>
        <% else %>
        <td></td>
        <% end %>
        <td><%= link_to "<i class='fa fa-eye fa-4x encima'></i>".html_safe, ordenproduccion_descripcioncorte_path(@ordenproduccion, descripcioncorte) %>

        <td><%= link_to "<i class='fa fa-pencil fa-4x encima'>".html_safe, edit_ordenproduccion_descripcioncorte_path(@ordenproduccion,descripcioncorte) %></td>
        <td><%= link_to "<i class='fa fa-eraser fa-4x encima'>".html_safe, ordenproduccion_descripcioncorte_path(@ordenproduccion,descripcioncorte), method: :delete, data: { confirm: 'Estas Seguro?' } %></td>  
        <strong><%
        if descripcioncorte.tallaxs== nil then descripcioncorte.tallaxs = 0 end
        if descripcioncorte.tallas== nil then descripcioncorte.tallas = 0 end
        if descripcioncorte.tallam== nil then descripcioncorte.tallam = 0 end
        if descripcioncorte.tallal== nil then descripcioncorte.tallal = 0 end
        if descripcioncorte.tallaxl== nil then descripcioncorte.tallaxl = 0 end
        re = re + sumar(descripcioncorte.tallaxs,descripcioncorte.tallas,descripcioncorte.tallam,descripcioncorte.tallal,descripcioncorte.tallaxl) 
        %>
              </strong>   
        
        
       
             
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<h1><b>Total Unidad: <%= re %></b></h1>


<%= link_to "<i class='fa fa-plus-circle fa-4x'></i>".html_safe, new_ordenproduccion_descripcioncorte_path(@ordenproduccion) %>
        	
<%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe, ordenproduccions_path(@ordenproduccion) %>

</body>