
<body class="handfondo">
  <h1 class="center">DESCRIPCIÓN DEL CORTE</h1>
<br><h4 class="derecho"><span class="badge option animated wobble"> <%= @descripcioncortes.count %> </span></h4 >
<br>

<div class="table-reponsive tbla">
  
<table class="table table-condensed table-hover tbla">
  <thead>
    <tr class="active">
      <th>Numero Orden</th>
      <th>Tallacantidad</th>
      <th>Capas</th>
      
      
      <th>Veces trazo</th>
      <th>Total Capas</th>
      
      <th colspan="3"></th>
    </tr>
  </thead>
<% re = 0%>
  <tbody>
    <% @descripcioncortes.each do |descripcioncorte| %>
      <tr>
        <td>000<%= descripcioncorte.ordenproduccion.id %></td>
        <td><%= descripcioncorte.tallacantidad %></td>
        <td><%= descripcioncorte.ordenproduccion.capas %></td>
       
       
        <td><%= descripcioncorte.ordenproduccion.vecestrazo %></td>
        <td><%= descripcioncorte.tallasuma %></td>
        
        
        <td><%= link_to "<i class='fa fa-check-circle-o fa-3x'></i>".html_safe, descripcioncorte_cuadroproduccions_path(descripcioncorte) %></td>
                <td><%= link_to "<i class='fa fa-eye fa-3x encima'></i>".html_safe, ordenproduccion_descripcioncorte_path(@ordenproduccion, descripcioncorte) %>

        <td><%= link_to "<i class='fa fa-pencil fa-3x encima'>".html_safe, edit_ordenproduccion_descripcioncorte_path(@ordenproduccion,descripcioncorte) %></td>
        <td><%= link_to "<i class='fa fa-eraser fa-3x encima'>".html_safe, ordenproduccion_descripcioncorte_path(@ordenproduccion,descripcioncorte), method: :delete, data: { confirm: 'Estas Seguro?' } %></td>  
        <strong><%
        if descripcioncorte.tallaxs== nil then descripcioncorte.tallaxs = 0 end
        if descripcioncorte.tallas== nil then descripcioncorte.tallas = 0 end
        if descripcioncorte.tallam== nil then descripcioncorte.tallam = 0 end
        if descripcioncorte.tallal== nil then descripcioncorte.tallal = 0 end
        if descripcioncorte.tallaxl== nil then descripcioncorte.tallaxl = 0 end
        re = re + sumar(descripcioncorte.tallaxs,descripcioncorte.tallas,descripcioncorte.tallam,descripcioncorte.tallal,descripcioncorte.tallaxl) 
        %>
              </strong>       
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<h1>Total Unidad: <%= re %></h1>

<%= link_to "<i class='fa fa-plus-circle fa-4x'></i>".html_safe, new_ordenproduccion_descripcioncorte_path(@ordenproduccion) %>
        	
<%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe, ordenproduccions_path(@ordenproduccion) %>

</body>