<h1>Listing descripcioncortes</h1>

<table>
  <thead>
    <tr>
      <th>Tallacantidad</th>
      <th>Capas</th>
      <th>Color</th>
      <th>Tallaxs</th>
      <th>Tallas</th>
      <th>Tallam</th>
      <th>Tallal</th>
      <th>Tallaxl</th>
      <th>Ordenproduccion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @descripcioncortes.each do |descripcioncorte| %>
      <tr>
        <td><%= descripcioncorte.tallacantidad %></td>
        <td><%= descripcioncorte.capas %></td>
        <td><%= descripcioncorte.color %></td>
        <td><%= descripcioncorte.tallaxs %></td>
        <td><%= descripcioncorte.tallas %></td>
        <td><%= descripcioncorte.tallam %></td>
        <td><%= descripcioncorte.tallal %></td>
        <td><%= descripcioncorte.tallaxl %></td>
        <td><%= descripcioncorte.ordenproduccion %></td>
        <td><%= link_to 'Show', descripcioncorte %></td>
        <td><%= link_to 'Edit', edit_descripcioncorte_path(descripcioncorte) %></td>
        <td><%= link_to 'Destroy', descripcioncorte, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'new', new_ordenproduccion_descripcioncorte_path(@ordenproduccion),
        	:class => 'btn btn-primary' %>