<p id="notice"><%= notice %></p>

<p>
  <strong>Tallacantidad:</strong>
  <%= @descripcioncorte.tallacantidad %>
</p>

<p>
  <strong>Capas:</strong>
  <%= @descripcioncorte.capas %>
</p>

<p>
  <strong>Color:</strong>
  <%= @descripcioncorte.color.colornombre %>
</p>

<p>
  <strong>Tallaxs:</strong>
  <%= @descripcioncorte.tallaxs %>
</p>

<p>
  <strong>Tallas:</strong>
  <%= @descripcioncorte.tallas %>
</p>

<p>
  <strong>Tallam:</strong>
  <%= @descripcioncorte.tallam %>
</p>

<p>
  <strong>Tallal:</strong>
  <%= @descripcioncorte.tallal %>
</p>

<p>
  <strong>Tallaxl:</strong>
  <%= @descripcioncorte.tallaxl %>
</p>
<p>
  <strong>Tallasuma:</strong>
  <%= @descripcioncorte.tallasuma %>
</p>

<p>
  <strong>Ordenproduccion:</strong>
  <%= @descripcioncorte.ordenproduccion %>
</p>


<%= link_to 'Edit', edit_descripcioncorte_path(@descripcioncorte) %> |
<%= link_to 'Back', descripcioncortes_path %>