<body class="homepageesh footer_tuto1">



<div class="col-md-12">
  <div class="col-md-2"></div>
  <div class="col-md-8">

<br> <br>

    <div >
      <div class="panel panel-succes">
        <div class="panel-heading center">
          <h3 class="panel-title">
            <h2 class="center1">Programacion de corte</h2></h3>
            <h2 class="center1"><strong>Ordennumero:</strong>
            000<%= @descripcioncorte.ordenproduccion.id %></h2>
          </div>
          <div class="panel-body">
            <div class="the-price">
              <div class="center-block">
                    
                  <%= image_tag("senab.png")%>
                  </div>
             
            </div>
            <table class="table">
              <tr>
                <td>
                  <div class="col-md-6">
                       <h5 class="izquierda"> <strong>Color: </strong>
                       <%= @descripcioncorte.color.colornombre rescue nil %></h5>
                  </div>
                  <div class="col-md-6">
                       <h5 class="derecha"><strong>Capas: </strong>
                       <%= @descripcioncorte.ordenproduccion.capas %></h5>
                 </div>

               </td>
             </tr>
             <tr class="">
              <td>

               <div class="col-md-6">
                <h5 class="izquierda"> <strong>TALLA XS: </strong>
                <%= @descripcioncorte.tallaxs %></h5>
               
              </div>
              <div class="col-md-6">
                  <h5 class="derecha"> <strong>TALLA S: </strong>
                <%= @descripcioncorte.tallas %></h5>
                
              </div>

            </td>
          </tr>
          <tr>
            <td>

              <div class="col-md-6">
                   <h5 class="izquierda"> <strong>TALLA M: </strong>
                   <%= @descripcioncorte.tallam %></h5>
              </div>
              <div class="col-md-6">
                   <h5 class="derecha"><strong>TALLA L: </strong>
                    <%= @descripcioncorte.tallal %></h5>

             </div>



           </td>
         </tr>
         <tr class="">
          <td>
               <div class="col-md-6">
                  <h5 class="izquierda"><strong>TALLA XL: </strong>
                 <%= @descripcioncorte.tallaxl %></h5>

              </div>
            <div class="col-md-6">
             
           </div>

          

        </td>
      </tr>

      <tr>
        <td>
         <div class="col-md-12 sumaa">
         <h5 class="izquierda "> <strong>Total Unidad: </strong>
          <%= @descripcioncorte.tallasuma %> </h5>
          
          

        </div>
      </td>
    </tr>




  </table>
</div>
<div class="panel-footer">
     <small>Centro de formación en diseño, confección y Moda</small> <br>
  <%= link_to "<i class='fa fa-pencil fa-4x'></i>".html_safe, edit_ordenproduccion_descripcioncorte_path(@ordenproduccion,@descripcioncorte) %>
  <%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe,  ordenproduccion_descripcioncortes_path %>
</div>
</div>



</div>
</body>

<br><br>

