<body class="homepageesh">
    <p id="notice"><%= notice %></p>


<br><br>




<div class="col-md-12">
  <div class="col-md-2"></div>
  <div class="col-md-8">


    <div >
      <div class="panel panel-succes">
        <div class="panel-heading center">
          <h3 class="panel-title">
            <h2 class="center">Programacion de corte</h2></h3><strong>Ordennumero:</strong>
            000<%= @descripcioncorte.ordenproduccion.id %>
          </div>
          <div class="panel-body">
            <div class="the-price">
              <h3>
              </h3>
              <small>Centro de formacion en diseño, confeccion y Moda</small>
            </div>
            <table class="table">
              <tr>
                <td>
                  <div class="col-md-6">
                   <h5 class="izquierda"> <strong>Tallacantidad: </strong>
                    <%= @descripcioncorte.tallacantidad %></h5>
                  </div>
                  <div class="col-md-6">
                   <h5 class="derecha"><strong>Capas: </strong>
                   <%= @descripcioncorte.ordenproduccion.capas %></h5>
                 </div>

               </td>
             </tr>
             <tr class="active">
              <td>

               <div class="col-md-6">

               <h5 class="izquierda"> <strong>Color: </strong>
                <%= @descripcioncorte.color.colornombre %></h5>
              </div>
              <div class="col-md-6">
                <h5 class="derecha"><strong>Talla XS: </strong>
                <%= @descripcioncorte.tallaxs %></h5>
              </div>

            </td>
          </tr>
          <tr>
            <td>

              <div class="col-md-6">
               <h5 class="izquierda"> <strong>Talla M: </strong>
                <%= @descripcioncorte.tallam %></h5>
              </div>
              <div class="col-md-6">
              <h5 class="derecha"> <strong>Talla L: </strong>
               <%= @descripcioncorte.tallal %></h5>

             </div>



           </td>
         </tr>
         <tr class="active">
          <td>
            <div class="col-md-6">
             <h5 class="izquierda"><strong>Tallax XL: </strong>
             <%= @descripcioncorte.tallaxl %></h5>
           </div>

           <div class="col-md-6">
           <h5 class="derecha"> <strong>Talla S: </strong>
            <%= @descripcioncorte.tallas %></h5>

          </div>




        </td>
      </tr>

      <tr>
        <td>
         <div class="col-md-12">
         <h5> <strong>Total Unidad: </strong>
          <%= @descripcioncorte.tallasuma %></h5>

        </div>
      </td>
    </tr>


  </table>
</div>
<div class="panel-footer">

  <%= link_to "<i class='fa fa-pencil fa-4x'></i>".html_safe, edit_ordenproduccion_descripcioncorte_path(@ordenproduccion,@descripcioncorte) %> |
  <%= link_to "<i class='fa fa-arrow-circle-left fa-4x'></i>".html_safe,  ordenproduccion_descripcioncortes_path %>
</div>
</div>



</div>
</body>