<div class="container">
  <h1>Listing telas</h1>

<table>
  <thead>
    <tr>
      <th>Tela</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @telas.each do |tela| %>
      <tr>
        <td><%= tela.telanombre %></td>
        <td><%= link_to 'Show', tela %></td>
        <td><%= link_to 'Edit', edit_tela_path(tela) %></td>
        <td><%= link_to 'Destroy', tela, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tela', new_tela_path %>

</div>