<div class="footer">
  <div id="button"></div>
	<div id="container">
		<div id="cont">
			<div class="footer_center">
	   
		  
		   <h3 class=" letrablanca ">
		   	
		   	<%if @orden_p == true %>
				<body class="orden_p">
				<h2>
					<i><%= link_to "COLORES", colors_path%></i>
					<i><%= link_to "TELAS", telas_path%></i>
					<i><%= link_to "PRENDAS", prendas_path%></i>
					<i><%= link_to "CLIENTES", clientes_path%></i>
					<i><%= link_to "TALLAS", tallas_path%></i>
					<i><%= link_to "CORTES", cortes_path%></i>
					</h2>
					
				
				</body>
			
			<%elsif @footer_tuto == true%>
				<body class="footer_tuto">
					 Soporte Técnico: <br>
					 	<i class='fa fa-user-md fa-2x'><br>jahenao17@misena.edu.co</i>  
				   		
			    </body>
			<%elsif @footer_tuto1 == true%>
				<body class="footer_tuto1">
					<h2>CENTRO DE FORMACIÓN EN DISEÑO, CONFECCIÓN Y MODA</h2>
				</body>
		   
		   <%elsif @fondo_desc == true%>
		   <body class="fondo_desc">
		   			<h2><i><%= link_to "COLORES", colors_path%></i>
					<i><%= link_to "TELAS", telas_path%></i>
					<i><%= link_to "PRENDAS", prendas_path%></i>
					<i><%= link_to "CLIENTES", clientes_path%></i>
					<i><%= link_to "TALLAS", tallas_path%></i>
					<i><%= link_to "CORTES", cortes_path%></i></h2>
					
		   </body>
		   
		   <%elsif @footer_terce == true%>
		   <body class="footer_terce">
		   	 		
					<i class='fa fa-eye  '>  Mostrar la Orden</i><br>
					<i class='fa fa-pencil  '>  Editar la Orden</i><br>
					<i class='fa fa-plus-circle fa-2x '> Crear nueva Orden</i>
		   </body>
		   
		   <%elsif @footer_welcome == true%>
		   <body class="footer_welcome">
		   	
		   <% if usuario_signed_in? %>	
		   
		   <h2>CENTRO DE FORMACIÓN EN DISEÑO, CONFECCIÓN Y MODA</h2>
		   <% elsif%>
		   <br>
		   <a href="https://www.youtube.com/embed/Rv6ft2W6W1Q"><i class="fa fa-youtube-play fa-4x"></i></a>
		   <%end%>	
		   
		   </body>
		   
		   
		   <% elsif @tuto_video == true%>
		   
		   <body class="tuto">
		   	<i class='fa fa-eye fa-2x'> Ingresar a Instructor </i> <br>
		   	<a href="https://www.youtube.com/watch?v=HL8GiGhU3ac"><i class="fa fa-youtube-play fa-2x"></i></a>
		   </body>
		   
		   <% elsif @tuto_videoins == true%>
		   <body class="tutovi">
		   	<i class='fa fa-user-md fa-2x'><br>jahenao17@misena.edu.co</i> <br>
		   	<a href="https://www.youtube.com/embed/W_1Nc-pQ-gs"><i class="fa fa-youtube-play fa-2x"></i></a> 
		   </body>
		   
		   <% elsif @tuto_estadisticas == true%>
		   <body class="estadisticas">
		   <i><%= link_to "COLORES", colors_path%></i>
					<i><%= link_to "TELAS", telas_path%></i>
					<i><%= link_to "PRENDAS", prendas_path%></i>
					<i><%= link_to "CLIENTES", clientes_path%></i>
					<i><%= link_to "TALLAS", tallas_path%></i>
					<i><%= link_to "CORTES", cortes_path%></i>
					
		   	
		   	
		   	 
		   </body>
		   
		   
		   
		   
			<%end%>
			
			
			</h3>
	   
</div>
</div>
</div>
</div>