<!DOCTYPE html>
<html>
<head>
	<title>ControlProduccion</title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>

<% if @home_pagee == true %>
<body class="homepage">
	<% elsif @home_page == true %>
	<body class="homepage">
		<% elsif @fondo_page == true %>
		<body class="fonpage">
			<% elsif @fondo_hand == true %>
			<body class="handfondo">
				<% elsif @fondo_cuadro == true %>
				<body class="fondo_cuadro">
					<% elsif 	@home_pagee12 == true %>
				<body class="homepageesh12">
				


					<% end %>



					<div class="container">
						<div class="row">
							<% if usuario_signed_in? %>
							<nav class="navbar navbar-fixed-left navbar-minimal animate" role="navigation">
								<div class="navbar-toggler animate">
									<span class="menu-icon"></span>
								</div>
								<ul class="navbar-menu animate">


									


									<li><%= link_to "<i class='fa fa-code fa-2x too questo'></i>".html_safe,  ordenproduccions_path %></li>
									
									
									<%# if current_usuario == Usuario.find(1)%>
									
										<li><%= link_to "<i class='fa fa-bar-chart fa-2x questo'></i>".html_safe, descripcioncortes_estadisticas_path %></li>
										
										<li><%= link_to "<i class='fa fa-user-secret fa-2x questo1'></i>".html_safe, rails_admin_path %></li>
										
									<%# end%>
									
									<li><%= link_to "<i class='fa fa-user-times fa-2x questo'></i>".html_safe, destroy_usuario_session_path, :method => :delete, class: 'active' %></li>


								</ul>
							</nav>
				
			
							<% end%>


							<span class="label label-default animated shake "><%= notice %></span>
							<span class="label label-default animated shake"><%= alert %></span>
							
						
				
							<%= yield %>
						</div>
					</div>
					<br><br>


					<%= render 'layouts/footer' %>

</body>
</html>


</body>
</html>
