<h1>Listing nombres</h1>

<table>
  <thead>
    <tr>
      <th>Nombreinstructor</th>
      <th>Imagen</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nombres.each do |nombre| %>
      <tr>
        <td><%= nombre.nombreinstructor %></td>
        <td><%= image_tag nombre.avatar.url(:thumb) %></td>
        <td><%= link_to 'Show', nombre %></td>
        <td><%= link_to 'Edit', edit_nombre_path(nombre) %></td>
        <td><%= link_to 'Destroy', nombre, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Nombre', new_nombre_path %>
