<p id="notice"><%= notice %></p>


<p>
  <strong>Imagen:</strong>
  <%= image_tag @nombre.avatar.url(:medium) %>
</p>

<p>
  <strong>Nombreinstructor:</strong>
  <%= @nombre.nombreinstructor %>
</p>

<%= link_to 'Edit', edit_nombre_path(@nombre) %> |
<%= link_to 'Back', nombres_path %>
